@media(max-width: 1680px) {

    /* 1480 - 1720 */

    .banner-home__title h1 {
        font-size: 46px;
        font-weight: 900;
        color: rgb(255 255 255);
        line-height: 54px;
        padding-top: 25px;
    }

    .banner-home__title p {
        font-size: 46px;
        font-weight: 300;
        color: rgb(255 255 255);
        line-height: 54px;
        padding-right: 50%;
        padding-bottom: 125px;
    }

    .banner-home__title a.sale-button__effect {
        font-size: 37px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0em;
        color: rgb(255 255 255);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 340px;
        height: 90px;
        background: rgb(10 217 217);
        border-radius: 50px;
        position: relative;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
    }

    .banner-home__title a.sale-button__effect:hover {
        background: #06D6D6;
        cursor: pointer;
        color: #ffffff;
        letter-spacing: 1px;
        font-size: 40px;
    }

    /* section more */
    .more {
        width: 100%;
        height: 900px;
    }

    .more:before {
        width: 50.7%;
        height: 900px;
        left: 100px;

    }

    .more::after {
        width: 52.7%;
        height: 520px;
        bottom: calc(50% + 18px);
        transform: translateY(55%);
    }

    .more-info__content {
        width: 530px;
        padding-right: 30px;
    }

    .more-info__title h2 {
        font-size: 60px;
        padding-bottom: 30px;
        padding-top: 60px;
    }

    .more-info__content p:first-of-type {
        margin-top: 35px;
        margin-bottom: 25px;
    }

    .more-info__content p {
        font-size: 24px;
        line-height: 28px;
        text-indent: 25px;
    }

    .more-info__content .more-info__details {
        font-size: 54px;
        width: 420px;
        height: 120px;
    }

    .more-info__content a.more-info__details:hover {
        font-size: 56px;
    }

    /* section about */

    .about {
        margin-top: 100px;
    }

    .about .about-info__top .about-info-content {
        display: block;
        width: 515px;
    }

    .about .about-info__top .about-info__title h2 {
        font-size: 60px;
        line-height: 60px;
        padding-bottom: 35px;
    }

    .about .about-info__top p {
        font-size: 25px;
        line-height: 30px;
        text-indent: 17px;
    }

    .about .about-info__top p:first-of-type {
        margin-top: 57px;
        text-align: justify;
        margin-bottom: 30px;
    }

    .about .about-info__top .about-info__icon {
        width: 640px;
        height: 520px;
        margin-left: 90px;
    }

    .about .about-info__middle .about-info__icon {
        width: 690px;
        height: 670px;
        margin-right: 50px;
        margin-left: -40px;
    }

    .about .about-info__middle .about-info-content {
        display: block;
        margin-top: 125px;
        width: 515px;
        margin-left: -30px;
    }

    .about .about-info__middle .about-info__title h2 {
        font-size: 60px;
        line-height: 60px;
        padding-bottom: 35px;
    }

    .about .about-info__middle p {
        font-size: 25px;
        line-height: 30px;
        text-indent: 17px;
    }

    .about .about-info__middle p:first-of-type {
        margin-top: 50px;
        text-align: justify;
        margin-bottom: 30px;
    }

    .about .about-info__bottom .about-info-content {
        width: 515px;
        display: block;
    }

    .about .about-info__bottom .about-info__title h2 {
        font-size: 60px;
        line-height: 60px;
        padding-bottom: 35px;
    }

    .about .about-info__bottom p {
        font-size: 25px;
        line-height: 30px;
        text-indent: 17px;
    }

    .about .about-info__bottom p:first-of-type {
        margin-top: 40px;
        text-align: justify;
        margin-bottom: 25px;
        width: 515px;
    }

    .about .about-info__bottom .about-info__icon {
        margin-top: -50px;
        width: 550px;
        height: 500px;
        margin-left: 120px;
    }

    .media {
        margin-top: 150px;
        margin-bottom: 50px;
    }

    .media .media-view {
        width: auto;
        height: 750px;
    }

    .information .info-context .info-context__title h2 {
        font-size: 60px;
        padding-bottom: 35px;
    }

    .information .info__icons ul {
        padding-top: 120px;
    }

    .information .info__icons i {
        font-size: 130px;
    }

    .information .info__icons span {
        font-size: 25px;
        line-height: 30px;
        padding-top: 40px;
        display: block;
        width: 200px;
    }

    .information .info-textbook {
        margin-top: 130px;
        width: calc(100% - 20%);
    }

    .information .info-textbook .info-textbook__title h2 {
        font-size: 60px;
        padding-bottom: 40px;
    }

    .information .info-textbook p.first__paragraph {
        font-size: 25px;
        line-height: 30px;
        color: #FFFFFF;
        padding-right: 270px;
    }

    .information .info-textbook ul {
        padding-top: 35px;
    }

    .information .info-textbook li {
        border-bottom: 2px solid #0AD9D9;
        padding-top: 30px;
        padding-bottom: 10px;
        padding-right: 270px;
    }

    .information .info-textbook li:last-child {
        border-bottom: 0;
        padding-bottom: 40px;
    }

    .information .info-textbook span {
        font-size: 25px;
        line-height: 30px;
    }

    .information .info-textbook li>p {
        font-size: 25px;
        line-height: 30px
    }

    .information .info-textbook .marked__paragraph {
        font-size: 25px;
        line-height: 30px;
    }

    .information .info-textbook p.second__paragraph {
        font-size: 25px;
        line-height: 30px;
        padding-top: 50px;
        padding-bottom: 70px;
    }


    .sale {
        padding-bottom: 90px;
    }

    .sale .sale-ability__title h2 {
        font-size: 60px;
        padding-top: 80px;
    }

    .sale .sale-ability__icon ul {
        padding-top: 100px;
    }

    .sale .sale-ability__icon i {
        font-size: 140px;
    }

    .sale .sale-ability__icon span {
        font-size: 25px;
        line-height: 30px;
        padding-top: 60px;
        display: block;
        width: 170px;
    }

    /* sale-discount */

    .sale-discount {
        /* padding-right: 61px; */
        padding-top: 125px;
        /* margin-left: 91px; */
    }

    .sale-discount .row {
        justify-content: space-around;
    }

    .sale-discount__items {
        width: 467px;
        height: 771px;
        padding-top: 120px;
    }

    .sale-discount__items .discount {
        width: 141px;
        height: 141px;
        top: -31px;
        right: -31px;
    }

    .sale-discount__items h3.base {
        font-size: 62px;
        line-height: 40px;
    }

    .sale-discount__items h3.premium {
        font-size: 62px;
        line-height: 40px;
    }

    .sale-discount__items .sale__info {
        width: calc(100% - 112px);
        background: rgba(0, 18, 44, 0.15);
        position: relative;
        margin-top: 91px;
        height: 425px;
        padding: 0 25px;
    }

    .sale-discount__items .sale__info>span {
        font-size: 25px;
        margin-bottom: 37px;
    }

    .sale-discount__items .sale__info>p {
        line-height: 23px;
        font-size: 20px;
    }

    .sale-discount__items .sale__info .price {
        width: 113px;
        height: 113px;
        top: -51.5px;
    }

    .sale-discount__items .sale__info .price span {
        padding: 0 15px;
        font-size: 25px;
    }

    .sale-discount__items .sale__info .price small {
        padding: 0 15px;
        font-size: 25px;
    }

    .sale-discount__items .discount span {
        font-size: 50px;
    }

    .sale-discount__items .discount small {
        font-size: 25px;
    }

    .sale-discount__items .buy__course {
        left: 50%;
        transform: translateX(-50%);
        bottom: -45px;
    }

    /* for__base button */

    .sale-discount__items .buy__course .for__base {
        font-size: 32px;
        width: 393px;
        height: 90px;
    }

    .sale-discount__items .buy__course .for__base:hover {
        letter-spacing: 1px;
        font-size: 34px;
    }

    /* for__premium button */

    .sale-discount__items .buy__course .for__premium {
        font-size: 32px;
        width: 393px;
        height: 90px;
    }


    .sale-discount__items .buy__course .for__premium:hover {
        letter-spacing: 1px;
        font-size: 34px;
    }

    .more-details .more-details__context .more-details__title {
        margin-top: 135px;
    }

    .more-details .more-details__context .more-details__title h2 {
        font-size: 60px;
    }

    .more-details .more-details__context p {
        font-size: 25px;
        line-height: 30px;
        text-indent: 25px;
        padding-top: 60px;
    }

    .more-details .more-details__media {
        margin-top: 130px;
    }

    .more-details .more-details__media .more-details__view {
        width: auto;
        height: 740px;
        margin-bottom: 130px;
    }

    /* section more-details end */
}

@media(max-width: 1480px) {
    .more-info__content {
        width: 560px;
        padding-right: 30px;
    }

    .more {
        height: 780px;
    }

    .more::after {
        content: '';
        position: absolute;
        width: 52.7%;
        height: 520px;
        right: 0;
        bottom: calc(50% + 18px);
        border-radius: 60px 0 0 60px;
        background-color: rgb(0 18 44);
        transform: translateY(55%);
        z-index: 1;
    }

    .more:before {
        width: 47.8%;
        height: 780px;
        left: 100px;
    }

}

@media(max-width: 1280px) {

    .banner-home__title h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .banner-home__title p {
        font-size: 40px;
        line-height: 50px;
    }


    .more {
        height: 770px;
    }

    .more:before {
        width: 47.5%;
        height: 760px;
    }

    .more::after {

        width: 51.7%;
        height: 420px;
        bottom: calc(45% + 70px);
        transform: translateY(65%);
    }

    .more-info__content {
        width: 440px;
    }

    .more-info__title {
        padding-top: 60px;
    }

    .more-info__title h2 {
        font-size: 35px;
        padding-bottom: 20px;
        padding-top: 35px;
    }

    .more-info__content p:first-of-type {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .more-info__content p {
        font-size: 20px;
        line-height: 23px;
        text-indent: 20px;
    }

    .more-info__content .more-info__details {
        font-size: 45px;
        width: 300px;
        height: 95px;
        transform: translateY(50px);
    }

    .more-info__content a.more-info__details:hover {
        font-size: 47px;
    }

    .about .about-info__top .about-info__title h2 {
        font-size: 35px;
        line-height: 35px;
        padding-bottom: 30px;
    }

    .about .about-info__top p:first-of-type {
        margin-top: 35px;
        text-align: justify;
        margin-bottom: 30px;
    }

    .about .about-info__top .about-info-content {
        display: block;
        width: 100%
    }

    .about .about-info__top p {
        font-size: 20px;
        line-height: 23px;
        text-indent: 15px;
    }

    .about .about-info__top .about-info__icon {
        width: 100%;
        height: 465px;
        margin-left: auto;
        margin-top: -30px;
    }


    .about .about-info__middle .about-info__icon {
        width: 100%;
        height: 465px;
        margin-left: -30px;
    }

    .about .about-info__middle .about-info__title h2 {
        font-size: 35px;
        line-height: 35px;
        padding-bottom: 30px;
    }

    .about .about-info__middle .about-info-content p:first-of-type {
        margin-top: 35px;
        text-align: justify;
        margin-bottom: 30px;
    }

    .about .about-info__middle .about-info-content p {
        font-size: 20px;
        line-height: 25px;
        text-indent: 15px;
    }

    .about .about-info__middle .about-info-content {
        margin-left: 0;
        width: 100%;
    }

    .media {
        margin-top: 120px;
    }

    .media .media-view {
        width: auto;
        height: 560px;
    }

    .about .about-info__bottom .about-info__title h2 {
        font-size: 35px;
        line-height: 35px;
        padding-bottom: 30px;
    }

    .about .about-info__bottom p:first-of-type {
        text-align: justify;
        width: 100%;
        margin-top: 30px;
    }

    .about .about-info__bottom p {
        font-size: 20px;
        line-height: 23px;
        text-indent: 17px;
    }

    .about .about-info__bottom .about-info__icon {
        margin-top: -30px;
        width: 100%;
        height: 425px;
        margin-left: 0px;
    }

    .about .about-info__bottom .about-info-content {
        width: 100%;
        display: block;
    }

    .information .info-context .info-context__title h2 {
        font-size: 35px;
        padding-bottom: 35px;
    }

    .information .info__icons ul {
        padding-top: 90px;
    }

    .information .info__icons i {
        font-size: 100px;
    }

    .information .info__icons span {
        font-size: 20px;
        line-height: 23px;
        padding-top: 30px;
        width: 70%;
    }

    .information .info-textbook .info-textbook__title h2 {
        font-size: 35px;
        padding-bottom: 30px;
    }

    .information .info-textbook p.first__paragraph {
        font-size: 20px;
        line-height: 25px;
    }

    .information .info-textbook li>p {
        font-size: 20px;
        line-height: 23px;
    }

    .information .info-textbook span {
        font-size: 20px;
        line-height: 23px;
    }

    .information .info-textbook .marked__paragraph {
        font-size: 20px;
        line-height: 23px;
    }

    .information .info-textbook p.second__paragraph {
        font-size: 20px;
        line-height: 23px;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .sale .sale-ability__title h2 {
        font-size: 35px;
        padding-top: 60px;
    }

    .sale .sale-ability__icon i {
        font-size: 110px;
    }

    .sale .sale-ability__icon li {
        width: 25%;
    }

    .sale-discount {
        padding-top: 90px;
    }

    .sale-discount__items .discount {
        width: 110px;
        height: 110px;
        top: -21px;
        right: -21px;
    }

    .sale-discount__items .discount span {
        font-size: 30px;
    }

    .sale-discount__items .discount small {
        font-size: 20px;
    }

    .sale-discount__items {
        width: 370px;
        height: 650px;
        padding-top: 110px;
    }

    .sale-discount__items .sale__info .price {
        width: 90px;
        height: 90px;
        top: -45.5px;
    }

    .sale-discount__items .sale__info {
        width: calc(100% - 102px);
        background: rgb(0 18 44 / 15%);
        position: relative;
        /* margin-top: 91px; */
        height: 350px;
        padding: 0px 20px;
    }

    .sale-discount__items .buy__course .for__base:hover {
        letter-spacing: 1px;
        font-size: 30px;
    }

    .sale-discount__items .buy__course .for__base {
        font-size: 28px;
        width: 290px;
        height: 75px;
    }

    .sale-discount__items .buy__course .for__premium:hover {
        letter-spacing: 1px;
        font-size: 30px;
    }

    .sale-discount__items .buy__course .for__premium {
        font-size: 28px;
        width: 290px;
        height: 75px;
    }

    .sale-discount__items .sale__info>span {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .footer-main .footer-main__contact span {
        font-size: 20px;
    }

    .footer-main .footer-main__contact a {
        font-size: 20px;

    }

    .footer-main .footer-main__contact small {
        font-size: 20px;
    }

    .footer-main .footer-main__social span {
        font-size: 20px;
        margin-right: 10px;
    }

    .footer-main .footer-main__social a {
        font-size: 24px;
        margin-left: 15px;
    }

    .footer-copyright {
        padding-top: 65px;

    }

    .more-details .more-details__context .more-details__title h2 {
        font-size: 35px;
    }

    .more-details .more-details__context p {
        font-size: 20px;
        line-height: 23px;
        text-indent: 20px;
        padding-top: 40px;
    }

    .more-details .more-details__media .more-details__view {
        width: auto;
        height: 680px;
        margin-bottom: 120px;
    }
}

@media(max-width: 1170px) {

    /* 1070 - 1170 */
    .more {
        height: 740px;
    }

    .more-info__content {
        width: 420px;
        padding-right: 0px;
    }

    .more:before {
        width: 46.8%;
        height: 740px;
    }

    .more::after {
        width: 50.9%;
        height: 400px;
        bottom: calc(52% + 30px);
        transform: translateY(65%);
    }

    .more-info__content .more-info__details {
        transform: translateY(18px);
        overflow: hidden;
    }

    .media .media-view {
        width: auto;
        height: 660px;
    }
}

@media(max-width: 1070px) {

    .navbar-own__logo {
        height: 40px;
    }

    .navbar-own__right a {
        font-size: 22px;
        line-height: 23px;
        outline: none;
    }

    .navbar-own__right a span {
        width: 150px;
    }

    .banner-home__title h1 {
        font-size: 37px;
        line-height: 46px;
    }

    .banner-home__title p {
        font-size: 37px;
        line-height: 46px;
    }

    a.sale-button__effect {
        font-size: 35px;
        width: 280px;
        height: 85px;
        overflow: hidden;
        outline: none;
    }

    .more {
        height: 600px;
    }

    .more:before {
        width: 44.8%;
        height: 600px;
    }

    .more::after {
        width: 50.9%;
        height: 370px;
        bottom: calc(50% + 18px);
        transform: translateY(60%);
    }

    .more-info__content {
        width: 380px;
        padding-right: 0px;
    }

    .more-info__title h2 {
        font-size: 30px;
        padding-bottom: 20px;
        padding-top: 30px;
    }

    .more-info__content p:first-of-type {
        font-size: 17px;
        line-height: 20px;
        text-indent: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .more-info__content p {
        font-size: 17px;
        line-height: 20px;
        text-indent: 15px;
    }

    .more-info__content .more-info__details {
        font-size: 35px;
        width: 250px;
        height: 80px;
        transform: translateY(35px);
    }

    .about .about-info__top .about-info__title h2 {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 20px;
        display: block;
        width: 70%;
    }

    .about .about-info__top p:first-of-type {
        margin-top: 30px;
        text-align: justify;
        margin-bottom: 25px;
        font-size: 17px;
        text-indent: 15px;
        line-height: 20px;
    }

    .about .about-info__middle .about-info__title h2 {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 20px;
        display: block;
        width: 70%;
    }

    .about .about-info__middle .about-info-content p:first-of-type {
        margin-top: 30px;
        text-align: justify;
        margin-bottom: 25px;
        font-size: 17px;
        text-indent: 15px;
        line-height: 20px;
    }

    .about .about-info__top .about-info__icon {
        width: 446px;
        height: 400px;
        margin-left: auto;
        margin-top: -30px;
    }

    .about .about-info__middle .about-info__icon {
        width: 446px;
        height: 400px;
        margin-left: -30px;
    }

    .about .about-info__middle .about-info__icon {
        width: 100%;
        height: 465px;
        margin-left: -30px;
    }

    .media .media-view {
        width: auto;
        height: 520px;
    }

    .about .about-info__bottom .about-info__title h2 {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 20px;
        display: block;
        width: 70%;
    }

    .about .about-info__bottom p:first-of-type {
        margin-top: 30px;
        text-align: justify;
        margin-bottom: 25px;
        font-size: 17px;
        text-indent: 15px;
        line-height: 20px;
    }

    .about .about-info__bottom .about-info__icon {
        margin-top: -30px;
        width: 446px;
        height: 370px;
        margin-left: 0px;
    }

    .information .info-context .info-context__title h2 {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 20px;
    }

    .information .info__icons span {
        font-size: 17px;
        line-height: 20px;
        padding-top: 25px;
        width: 75%;
    }

    .information .info-textbook .info-textbook__title h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .information .info-textbook p.first__paragraph {
        font-size: 17px;
        line-height: 20px;
    }

    .information .info-textbook li>p {
        font-size: 17px;
        line-height: 20px;
    }

    .information .info-textbook span {
        font-size: 17px;
        line-height: 20px;
    }

    .information .info-textbook .marked__paragraph {
        font-size: 17px;
        line-height: 20px;
        padding: 30px 30px;
    }

    .information .info-textbook p.second__paragraph {
        font-size: 17px;
        line-height: 20px;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .sale .sale-ability__title h2 {
        font-size: 30px;
        padding-top: 50px;
    }

    .sale .sale-ability__icon span {
        font-size: 17px;
        line-height: 20px;
        padding-top: 45px;
        display: block;
        width: 65%;
    }

    .sale-discount__items .discount span {
        font-size: 25px;
    }

    .sale-discount__items .discount small {
        font-size: 17px;
    }

    .sale-discount__items h3.base {
        font-size: 50px;
        line-height: 35px;
    }

    .sale-discount__items h3.premium {
        font-size: 50px;
        line-height: 35px;
    }

    .sale-discount__items .sale__info .price span {
        padding: 0 15px;
        font-size: 20px;
    }

    .sale-discount__items .sale__info .price small {
        padding: 0 15px;
        font-size: 20px;
    }

    .sale-discount__items .sale__info>span {
        font-size: 17px;
        margin-bottom: 25px;
    }

    .sale-discount__items .sale__info>p {
        line-height: 20px;
        font-size: 17px;
    }

    .sale-discount__items .buy__course .for__base {
        font-size: 23px;
        width: 240px;
        height: 70px;
    }

    .sale-discount__items .buy__course .for__premium {
        font-size: 23px;
        width: 240px;
        height: 70px;
    }

    .sale-discount__items {
        width: 310px;
        height: 550px;
        padding-top: 80px;
    }

    .sale-discount__items .discount {
        width: 90px;
        height: 90px;
        top: -21px;
        right: -21px;
    }

    .sale-discount__items .sale__info {
        width: calc(100% - 85px);
        background: rgb(0 18 44 / 15%);
        position: relative;
        height: 300px;
        padding: 0px 20px;
    }

    .footer-main .footer-main__contact span {
        font-size: 17px;
    }

    .footer-main .footer-main__contact small {
        font-size: 17px;
    }

    .footer-main .footer-main__contact a {
        font-size: 17px;
    }

    .footer-main .footer-main__social span {
        font-size: 17px;
        margin-right: 10px;
    }

    .footer-main .footer-main__social a {
        font-size: 18px;
        margin-left: 15px;
    }

    .footer-copyright {
        padding-top: 55px;
    }

    .footer-copyright .footer__logo {
        height: 23px;
        max-width: 153px;
        flex: 0 0 153px;
    }

    .more-details .more-details__media .more-details__view {
        width: auto;
        height: 550px;
        margin-bottom: 90px;

    }

    .more-details .more-details__context p {
        font-size: 17px;
        line-height: 20px;
        text-indent: 15px;
        padding-top: 30px;
    }

    .more-details .more-details__context .more-details__title h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .close {
        position: relative;
        width: 45px;
        height: 45px;
    }

    .close:before,
    .close:after {
        left: 21px;
        height: 45px;
        width: 2.5px;
    }
}

@media(max-width: 991px) {

    .navbar-own__logo {
        height: 40px;
    }

    .navbar-own__right a {
        font-size: 22px;
        line-height: 23px;
        outline: none;
    }

    .navbar-own__right a span {
        width: 150px;
    }

    .banner-home__title h1 {
        font-size: 37px;
        line-height: 46px;
        width: 100%;
    }

    .banner-home__title p {
        font-size: 37px;
        line-height: 46px;
        padding-right: 20%;
    }

    a.sale-button__effect {
        font-size: 35px;
        width: 280px;
        height: 85px;
        overflow: hidden;
        outline: none;
    }

    .more {
        height: 450px;
    }

    .more:before {
        width: 344px;
        height: 450px;
        left: 20px;
    }

    .more-info__content a.more-info__details:hover {
        letter-spacing: 1px;
        font-size: 35px;
    }

    .more-info__content .more-info__details {
        font-size: 30px;
        width: 240px;
        height: 60px;
        transform: translateY(20px);
    }

    .more-info__title {
        padding-top: 0px;
    }

    .more::after {
        width: 450px;
        height: 355px;
        bottom: calc(54% + 18px);
        transform: translateY(60%);
    }


    .more-info__content {
        width: 350px;
        padding-right: 0px;
    }

    .more-info__title h2 {
        font-size: 30px;
        padding-bottom: 15px;
        padding-top: 30px;
    }

    .more-info__content p:first-of-type {
        font-size: 17px;
        line-height: 20px;
        text-indent: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .more-info__content p {
        font-size: 17px;
        line-height: 20px;
        text-indent: 15px;
    }

    .about {
        margin-top: 30px;
    }

    .about .about-info__top .about-info__title h2 {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 15px;
        display: block;
        width: 90%;
    }

    .about .about-info__top p:first-of-type {
        margin-top: 30px;
        text-align: justify;
        margin-bottom: 25px;
        font-size: 17px;
        text-indent: 15px;
        line-height: 20px;
    }

    .about .about-info__middle .about-info__title h2 {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 15px;
        display: block;
        width: 90%;
    }

    .about .about-info__middle .about-info-content p:first-of-type {
        margin-top: 30px;
        text-align: justify;
        margin-bottom: 25px;
        font-size: 17px;
        text-indent: 15px;
        line-height: 20px;
    }

    .about .about-info__top .about-info__icon {
        width: 340px;
        height: 310px;
        margin-left: auto;
        margin-top: -10px;
    }

    .about .about-info__middle .about-info__icon {
        width: 340px;
        height: 310px;
        margin-left: -10px;
    }

    .about .about-info__middle .about-info__icon {
        width: 100%;
        height: 465px;
        margin-left: -30px;
    }

    .media {
        margin-top: 0px;
    }

    .media .media-view {
        width: auto;
        height: 460px;
    }

    .about .about-info__bottom .about-info__title h2 {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 15px;
        display: block;
        width: 90%;
    }

    .about .about-info__bottom p:first-of-type {
        margin-top: 30px;
        text-align: justify;
        margin-bottom: 25px;
        font-size: 17px;
        text-indent: 15px;
        line-height: 20px;
    }

    .about .about-info__bottom .about-info__icon {
        margin-top: -20px;
        width: 340px;
        height: 290px;
        margin-left: 0px;
    }

    .information .info-context {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

    .information .info-context .info-context__title h2 {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 15px;
    }


    .information .info__icons li {
        width: 33.333333%;
        padding: 30px 0;
    }

    .information .info__icons span {
        width: 100%;
    }

    .information .info__icons ul {
        justify-content: center;
    }

    .information .info__icons li:nth-child(2) {
        padding: 30px 0;
    }

    .information .info-textbook .info-textbook__title h2 {
        font-size: 30px;
        padding-bottom: 15px;
    }

    .information .info-textbook p.first__paragraph {
        font-size: 17px;
        line-height: 20px;
    }

    .information .info__icons ul {
        padding-top: 55px;
    }

    .information .info-textbook li>p {
        font-size: 17px;
        line-height: 20px;
    }

    .information .info-textbook span {
        font-size: 17px;
        line-height: 20px;

    }

    .information .info-textbook .marked__paragraph {
        font-size: 17px;
        line-height: 20px;
        padding: 30px 30px;
    }

    .information .info-textbook p.second__paragraph {
        font-size: 17px;
        line-height: 20px;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .sale .sale-ability__title h2 {
        font-size: 30px;
        padding-top: 50px;
    }

    .sale .sale-ability__icon span {
        font-size: 17px;
        line-height: 20px;
        padding-top: 45px;
        display: block;
        width: 65%;
    }

    .sale-discount {
        padding-top: 90px;
        justify-content: space-between;
        padding-right: 0px;
    }

    .sale-discount__items .discount span {
        font-size: 25px;
    }

    .sale-discount__items .discount small {
        font-size: 17px;
    }

    .sale-discount__items h3.base {
        font-size: 50px;
        line-height: 35px;
    }

    .sale-discount__items h3.premium {
        font-size: 50px;
        line-height: 35px;
    }

    .sale-discount__items .sale__info .price span {
        padding: 0 15px;
        font-size: 20px;
    }

    .sale-discount__items .sale__info .price small {
        padding: 0 15px;
        font-size: 20px;
    }

    .sale-discount__items .sale__info>span {
        font-size: 17px;
        margin-bottom: 25px;
    }

    .sale-discount__items .sale__info>p {
        line-height: 20px;
        font-size: 17px;
    }

    .sale-discount__items .buy__course .for__base {
        font-size: 23px;
        width: 220px;
        height: 70px;
    }

    .sale-discount__items .buy__course .for__premium {
        font-size: 23px;
        width: 220px;
        height: 70px;
    }

    .sale-discount__items {
        width: 100%;
        height: 550px;
        padding-top: 80px;
        margin: 0;
    }

    .sale-discount__items .discount {
        width: 90px;
        height: 90px;
        top: -21px;
        right: -21px;
    }

    .sale-discount__items .sale__info {
        width: calc(100% - 85px);
        background: rgb(0 18 44 / 15%);
        position: relative;
        height: 300px;
        padding: 0px 20px;
    }

    .footer-main .footer-main__contact span {
        font-size: 17px;
    }

    .footer-main .footer-main__contact small {
        font-size: 17px;
    }

    .footer-main .footer-main__contact a {
        font-size: 17px;
    }

    .footer-main .footer-main__social span {
        font-size: 17px;
        margin-right: 10px;
    }

    .footer-main .footer-main__social a {
        font-size: 18px;
        margin-left: 15px;
    }

    .footer-copyright {
        padding-top: 55px;
    }

    .footer-copyright .footer__logo {
        height: 23px;
        max-width: 153px;
        flex: 0 0 153px;
    }

    .more-details .more-details__media .more-details__view {
        width: auto;
        height: 550px;
        margin-bottom: 90px;

    }

    .more-details .more-details__context p {
        font-size: 17px;
        line-height: 20px;
        text-indent: 15px;
        padding-top: 30px;
    }

    .more-details .more-details__context .more-details__title h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .close {
        position: relative;
        width: 45px;
        height: 45px;
    }

    .close:before,
    .close:after {
        left: 21px;
        height: 45px;
        width: 2.5px;
    }


    .sale .sale-ability__icon li {
        width: 50%;
        padding: 30px 0;
    }

    .sale .sale-ability__icon ul {
        padding-top: 50px;
    }

    .information .info-textbook li {
        padding-right: 0;
    }

    .information .info-textbook {
        margin-top: 60px;
        width: 100%;
    }

    .information .info-textbook p.first__paragraph {
        padding-right: 0;
    }

    .footer-copyright {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-main {
        padding-left: 0;
        padding-right: 0;
    }

    .more-details .more-details__media {
        margin-top: 59px;
    }

    .more-details .more-details__media .more-details__view {
        width: auto;
        height: 460px;
        margin-bottom: 90px;
    }

}