@media(max-width: 1880px) {
    .more {
        height: 890px;
    }

    .more::before {
        left: 200px;
        width: 820px;
        height: 868px;
    }

    .more::after {
        width: 965px;
        height: 680px;

    }
}

@media(max-width: 1720px) {
    .more {
        height: 880px;
    }

    .more::before {
        width: 780px;
        height: 835px;
        left: 162px;
    }

    .more::after {
        width: 910px;
        height: 615px;
    }

    .more-info__content {
        transform: translateY(-19px);
    }

    .more-info__content .more-info__details {
        transform: translateY(90px);
    }

    .sale-discount__items {
        margin-left: 85px;
    }
}

@media(max-width: 1570px) {
    .more {
        height: 850px;
    }

    .more::before {
        width: 730px;
        height: 780px;
        left: 142px;
    }

    .more::after {
        width: 875px;
        height: 590px;
    }

    .more-info__content {
        transform: translateY(-7px);
    }

    .more-info__content .more-info__details {
        transform: translateY(60px);
    }

    .sale-discount__items {
        margin-left: 85px;
    }

    .about .about-info__top .about-info__icon {
        width: 650px;
        height: 500px;
        transform: translateY(-130px);
    }

    .about .about-info__middle .about-info__icon {
        width: 700px;
        height: 500px;
        transform: translateX(-50px);
    }

    .about .about-info__bottom .about-info__icon {
        width: 590px;
        height: 560px;
    }

    .footer-main::after {
        width: 105%;
        left: 50%;
        transform: translate(-50%);

    }

}

@media(max-width: 1440px) {
    .more {
        height: 768px;
    }

    .more::before {
        width: 685px;
        height: 734px;
        left: 70px;
    }

    .more::after {
        width: 814px;
        height: 540px;
    }

    .more-info__content {
        transform: translateY(17px);
    }

    .more-info__content .more-info__details {
        transform: translateY(60px);
    }

    .more-info__title h2 {
        padding-top: 0px;
    }

    .more-info__content p:first-of-type {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .sale-discount__items {
        margin-left: 85px;
    }

    .about {
        margin-top: 170px;
    }

    .about .about-info__top .about-info__icon {
        width: 650px;
        height: 500px;
        transform: translateY(-130px);
    }

    .about .about-info__middle .about-info__icon {
        width: 700px;
        height: 500px;
        transform: translateX(-50px);
    }

    .about .about-info__bottom .about-info__icon {
        width: 590px;
        height: 560px;
    }

    .sale .sale-ability__title h2 {
        padding-top: 140px;
    }

    .footer-main::after {
        width: 100%;
    }

}

@media(max-width: 1365px) {
    .more {
        height: 768px;
    }

    .more::before {
        width: 685px;
        height: 734px;
        left: 70px;
    }

    .more::after {
        width: 730px;
        height: 540px;
    }

    .more-info__content {
        transform: translateY(10px);
        padding-right: 20px;
    }

    .more-info__content .more-info__details {
        transform: translateY(60px);
    }

    .more-info__title h2 {
        padding-top: 0px;
    }

    .more-info__content p:first-of-type {
        padding-top: 30px;

        padding-bottom: 20px;
    }

    .sale-discount__items {
        margin-left: 75px;
    }

    .about {
        margin-top: 120px;
    }

    .about .about-info__top .about-info__icon {
        width: 580px;
        height: 450px;
        transform: translateY(-100px);
    }

    .about .about-info__middle .about-info__icon {
        width: 650px;
        height: 450px;
        transform: translateX(0px);
    }

    .about .about-info__bottom .about-info__icon {
        width: 540px;
        height: 510px;
    }

    .media .media-view {
        height: 670px;
    }

    .sale .sale-ability__title h2 {
        padding-top: 100px;
    }

    footer {
        padding-bottom: 75px;
        padding-top: 70px;
    }

}

@media(max-width: 1280px) {
    .navbar-own {
        height: 80px;
    }

    .navbar-own__logo {
        width: 229px;
        height: 38px;
        max-width: 229px;
        flex: 0 0 229px;
    }

    .navbar-own__right a {
        font-size: 17px;
        line-height: 20px;
    }

    .navbar-own__right a.navbar-button__effect span {
        font-size: 17px;
        line-height: 20px;
        width: 132px;
        height: 30px;
        margin-left: 30px;
    }

    .navbar-own__right a.navbar-button__effect span:hover {
        letter-spacing: 0.5px;
        font-size: 18px;
    }

    .navbar-own__right .navbar-button__cabinet span {
        font-size: 17px;
        line-height: 20px;
        width: 160px;
        height: 30px;
        margin-left: 30px;
    }

    .navbar-own__right .navbar-button__cabinet span:hover {
        letter-spacing: 0.5px;
        font-size: 18px;
    }

    .banner-home {
        padding-top: 80px;
    }

    .banner-home__title h1 {
        font-size: 40px;
        line-height: 47px;
        padding-top: 10px;
    }

    .banner-home__title p {
        font-size: 40px;
        line-height: 47px;
        padding-right: 40%;
        padding-bottom: 110px;
    }

    .banner-home__title a.sale-button__effect {
        font-size: 34px;
        width: 330px;
        height: 87px;
    }

    .banner-home__title a.sale-button__effect:hover {
        letter-spacing: 1px;
        font-size: 35px;
    }

    .more {
        height: 720px;
    }

    .more::before {
        width: 610px;
        height: 650px;
        left: 100px;
    }

    .more::after {
        width: 665px;
        height: 470px;
    }

    .more-info__content {
        width: 460px;
        transform: translateY(10px);
        padding-right: 20px;
    }

    .more-info__title h2 {
        font-size: 40px;
        padding-top: 0px;
    }

    .more-info__title h2::after {
        height: 4px;
    }

    .more-info__content p {
        font-size: 20px;
        line-height: 23px;
        text-indent: 20px;
    }

    .more-info__content .more-info__details {
        font-size: 35px;
        width: 290px;
        height: 80px;
    }

    .more-info__content a.more-info__details:hover {
        letter-spacing: 1px;
        font-size: 36px;
    }

    .about .about-info__top .about-info__title h2 {
        font-size: 40px;
        line-height: 47px;
        padding-bottom: 25px;
    }

    .about .about-info__top .about-info__title h2::after {
        width: 100%;
        height: 4px;
    }

    .about .about-info__top p {
        font-size: 20px;
        line-height: 23px;
        text-indent: 15px;
        padding-top: 25px;
        width: 480px;
    }

    .about .about-info__top .about-info__icon {
        width: 480px;
        height: 400px;
        transform: translateY(-50px);
    }

    .about .about-info__middle .about-info__title h2 {
        font-size: 40px;
        line-height: 47px;
        padding-bottom: 25px;
        width: 100%;
    }

    .about .about-info__middle .about-info__icon {
        width: 540px;
        height: 400px;
        transform: translateX(0px);
    }

    .about .about-info__middle .about-info__title h2::after {
        width: 100%;
        height: 4px;
    }

    .about .about-info__middle p {
        font-size: 20px;
        line-height: 23px;
        text-indent: 15px;
        padding-top: 25px;
    }

    .about .about-info__bottom .about-info__title h2 {
        font-size: 40px;
        line-height: 47px;
        padding-bottom: 25px;
    }

    .about .about-info__bottom .about-info__title h2::after {
        height: 4px;
    }

    .about .about-info__bottom p {
        font-size: 20px;
        line-height: 23px;
        text-indent: 15px;
        padding-top: 25px;
    }

    .about .about-info__bottom .about-info__icon {
        width: 475px;
        height: 400px;
    }

    .media {
        margin-top: 70px;
    }

    .media .media-view {
        height: 640px;
    }

    .information .info-context {
        padding-top: 30px;
    }

    .information .info-context .info-context__title h2 {
        font-size: 40px;
        line-height: 47px;
        padding-bottom: 25px;
    }

    .information .info-context .info-context__title h2::after {
        height: 4px;
    }

    .information .info__icons ul {
        padding-top: 95px;
        justify-content: center;
    }

    .information .info__icons li {
        width: 33.33333%;
        padding-bottom: 70px;
    }

    .information .info__icons i {
        font-size: 150px;
    }

    .information .info__icons span {
        font-size: 20px;
        line-height: 23px;
        padding-top: 30px;
        width: 160px;
    }

    .information .info-textbook {
        margin-top: 60px;
    }

    .information .info-textbook .info-textbook__title h2 {
        font-size: 40px;
        line-height: 47px;
        padding-bottom: 35px;
    }

    .information .info-textbook p.first__paragraph {
        font-size: 20px;
        line-height: 23px;
    }

    .information .info-textbook ul {
        padding-top: 10px;
    }

    .information .info-textbook li>p {
        font-size: 20px;
        line-height: 23px;
    }

    .information .info-textbook span {
        font-size: 20px;
        line-height: 23px;
    }

    .information .info-textbook li {
        border-bottom: 1.5px solid rgb(10 217 217);
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .information .info-textbook li:last-child {
        padding-bottom: 40px;
    }

    .information .info-textbook .marked__paragraph {
        border: 1.5px solid rgb(10 217 217);
        padding: 20px 20px;
        font-size: 20px;
        line-height: 23px;
    }

    .information .info-textbook p.second__paragraph {
        font-size: 20px;
        line-height: 23px;
        padding-top: 40px;
        padding-bottom: 70px;
    }

    .sale .sale-ability::after {
        height: 4px;
    }

    .sale .sale-ability__title h2 {
        font-size: 40px;
        line-height: 47px;
        padding-top: 60px;
    }

    .sale .sale-ability__icon i {
        font-size: 150px;
    }

    .sale .sale-ability__icon li {
        width: 50%;
        padding-bottom: 60px;
        align-items: center;
    }

    .sale .sale-ability__icon span {
        font-size: 20px;
        line-height: 23px;
        padding-top: 30px;
        width: 50%;
    }

    .sale-discount {
        padding-top: 110px;
        margin: 0 auto;
    }

    .sale-discount__items {
        margin-left: 50px;
    }

    .sale-discount__items .discount {
        width: 130px;
        height: 130px;
        top: -40px;
        right: -40px;
    }

    .sale-discount__items .discount span {
        font-size: 40px;
        line-height: 47px;
    }

    .sale-discount__items {
        width: 380px;
        height: 630px;
        padding-top: 80px;
        margin-bottom: 80px;
        margin-left: 85px;
    }

    .sale-discount__items .sale__info .price span {
        font-size: 20px;
    }

    .sale-discount__items .sale__info .price small {
        font-size: 20px;
    }

    .sale-discount__items .sale__info>span {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 57px;
        width: 55%;
    }

    .sale-discount__items .sale__info>p {
        line-height: 19px;
        font-size: 18px;
    }

    .sale-discount__items .buy__course {
        bottom: -50px;
    }

    .sale-discount__items h3.base {
        font-size: 57px;
        line-height: 65px;
    }

    .sale-discount__items h3.premium {
        font-size: 57px;
        line-height: 65px;
    }

    .sale-discount__items .sale__info {
        margin-top: 80px;
        height: 365px;
    }

    .sale-discount__items .buy__course .for__base {
        font-size: 28px;
        width: 280px;
        height: 80px;
    }

    .sale-discount__items .buy__course .for__premium {
        font-size: 28px;
        width: 280px;
        height: 80px;
    }

    .sale-discount__items .buy__course .for__base:hover {
        font-size: 29px;
    }

    .sale-discount__items .buy__course .for__premium:hover {
        font-size: 29px;
    }

    footer {
        padding-bottom: 60px;
        padding-top: 50px;
    }

    .footer-main .footer-main__contact span {
        font-size: 20px;
    }

    .footer-main .footer-main__contact small {
        font-size: 20px;
    }

    .footer-main .footer-main__contact a {
        font-size: 20px;
    }

    .footer-main {
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 60px;
    }

    .footer-main .footer-main__social span {
        font-size: 20px;
        margin-right: 10px;
    }

    .footer-main .footer-main__social a {
        font-size: 23px;
    }

    .footer-copyright {
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 70px;
    }

    .footer-copyright .footer__logo img {
        width: auto;
        height: 25px;
    }

    .more-details .more-details__context .more-details__title h2 {
        font-size: 40px;
        line-height: 47px;
        padding-bottom: 35px;
        width: 55%;
    }

    .more-details .more-details__context .more-details__title h2::after {
        width: 70%;
        height: 4px;
    }

    .more-details .more-details__context p {
        font-size: 20px;
        line-height: 23px;
        text-indent: 20px;
        padding-top: 40px;
    }

    .more-details .more-details__media {
        margin-top: 100px;
    }

    .more-details .more-details__media .more-details__view {
        height: 640px;
        margin-bottom: 100px;
    }




}

@media(max-width: 1199px) {

    .more {
        height: 720px;
    }

    .more::before {
        width: 560px;
        height: 600px;
        left: 60px;
    }

    .more::after {
        width: 650px;
        height: 460px;
    }

    .more-info__content {
        width: 440px;
        transform: translateY(5px);
        padding-right: 62px;
    }

    .sale-discount__items {
        margin-left: 65px;
    }


}

@media(max-width: 1080px) {

    .more {
        height: 680px;
    }

    .more::before {
        width: 530px;
        height: 565px;
        left: 55px;
    }

    .more::after {
        width: 603px;
        height: 400px;
    }

    .more-info__content {
        width: 440px;
        transform: translateY(22px);
        padding-right: 60px;
    }

    .more-info__content p:first-of-type {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .more-info__content .more-info__details {
        transform: translateY(15px);
        width: 255px;
        height: 70px;
    }

    .sale-discount__items {
        margin-left: 40px;
    }
}

@media(max-width: 991px) {
    .navbar-own__logo {
        width: 181px;
        height: 30px;
        max-width: 181px;
        flex: 0 0 181px;
    }

    .navbar-own__right a {
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
    }

    .navbar-own__right a.navbar-button__effect span {
        font-size: 15px;
        line-height: 18px;
        width: 100px;
        height: 28px;
        margin-left: 25px;
    }

    .navbar-own__right a.navbar-button__effect span:hover {
        border: 1.5px solid #06D6D6;
        letter-spacing: 0.5px;
        font-size: 16px;
    }

    .navbar-own__right .navbar-button__cabinet span {
        font-size: 15px;
        line-height: 18px;
        width: 130px;
        height: 28px;
        margin-left: 25px;
    }

    .navbar-own__right .navbar-button__cabinet span:hover {
        letter-spacing: 0.5px;
        font-size: 16px;
    }

    .navbar-own {
        height: 60px;
    }

    .banner-home {
        padding-top: 60px;
    }

    .banner-home__title h1 {
        font-size: 35px;
        line-height: 42px;
        padding-top: 0px;
    }

    .banner-home__title p {
        font-size: 35px;
        line-height: 42px;
        padding-right: 40%;
        padding-bottom: 90px;
    }

    .banner-home__title a.sale-button__effect {
        font-size: 29px;
        width: 270px;
        height: 65px;
    }

    .banner-home__title a.sale-button__effect:hover {
        letter-spacing: 1px;
        font-size: 30px;
    }

    .more-info__title h2 {
        font-size: 35px;
        padding-bottom: 13px;
    }

    .more-info__title h2::after {
        height: 3px;
    }

    .more-info__content p:first-of-type {
        padding-top: 15px;
        padding-bottom: 12px;
    }

    .more-info__content p {
        font-size: 18px;
        line-height: 20px;
        text-indent: 15px;
    }

    .more-info__content {
        width: 290px;
        transform: translateY(13px);
        padding-right: 0;
    }

    .more-info__content a.more-info__details:hover {
        letter-spacing: 1px;
        font-size: 30px;
    }

    .more-info__content .more-info__details {
        font-size: 29px;
        transform: translateY(15px);
        width: 215px;
        height: 55px;
    }

    .more {
        height: 535px;
    }

    .more::before {
        width: 460px;
        height: 490px;
        left: 10px;
    }

    .more::after {
        width: 425px;
        height: 360px;
    }

    .about .about-info__top .about-info__title h2 {
        font-size: 35px;
        line-height: 42px;
        padding-bottom: 17px;
    }

    .about .about-info__top .about-info__title h2::after {
        width: 70%;
        height: 3px;
    }

    .about .about-info__top p {
        font-size: 18px;
        line-height: 21px;
        text-indent: 15px;
        padding-top: 12px;
        width: 340px;
    }

    .about .about-info__top .about-info__icon {
        width: 340px;
        height: 360px;
        transform: translateY(-45px);
    }

    .about-info-content {
        width: 340px;
    }

    .about .about-info__middle p {
        font-size: 18px;
        line-height: 21px;
        text-indent: 15px;
        padding-top: 12px;
        width: 340px;
    }

    .about .about-info__middle .about-info__icon {
        width: 340px;
        height: 360px;
        transform: translateX(10px);
    }

    .about .about-info__middle .about-info__title h2 {
        font-size: 35px;
        line-height: 42px;
        padding-bottom: 17px;
        width: 80%;
    }

    .about .about-info__middle .about-info__title h2::after {
        width: 100%;
        height: 3px;
    }

    .media {
        margin-top: 45px;
    }

    .media .media-view {
        height: 530px;
    }

    .about .about-info__bottom .about-info__title h2 {
        font-size: 35px;
        line-height: 42px;
        padding-bottom: 17px;
    }

    .about .about-info__bottom p {
        font-size: 18px;
        line-height: 21px;
        text-indent: 15px;
        padding-top: 12px;
        width: 340px;
    }

    .about .about-info__bottom .about-info__title h2::after {
        height: 3px;
    }

    .about .about-info__bottom .about-info__icon {
        width: 320px;
        height: 340px;
        transform: translateX(20px);
    }

    .information .info-context .info-context__title h2 {
        font-size: 35px;
        line-height: 42px;
        padding-bottom: 17px;
    }

    .information .info-context .info-context__title h2::after {
        height: 3px;
    }

    .information .info__icons ul {
        padding-top: 55px;
    }

    .information .info__icons i {
        font-size: 120px;
    }

    .information .info__icons span {
        font-size: 18px;
        line-height: 21px;
        padding-top: 20px;
        width: 150px;
    }

    .information .info-textbook {
        margin-top: 0px;
    }

    .information .info-textbook .info-textbook__title h2 {
        font-size: 35px;
        line-height: 42px;
        padding-bottom: 25px;
    }

    .information .info-textbook p.first__paragraph {
        font-size: 18px;
        line-height: 21px;
    }

    .information .info-textbook li>p {
        font-size: 18px;
        line-height: 21px;
    }

    .information .info-textbook span {
        font-size: 18px;
        line-height: 21px;
    }

    .information .info-textbook li {
        border-bottom: 1px solid rgb(10 217 217);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .information .info-textbook li:last-child {
        padding-bottom: 25px;
    }

    .information .info-textbook .marked__paragraph {
        border: 1px solid rgb(10 217 217);
        padding: 15px 15px;
        font-size: 18px;
        line-height: 21px;
    }

    .information .info-textbook p.second__paragraph {
        font-size: 18px;
        line-height: 21px;
        padding-top: 25px;
        padding-bottom: 55px;
    }

    .sale .sale-ability::after {
        height: 3px;
    }

    .sale .sale-ability__title h2 {
        font-size: 35px;
        line-height: 42px;
        padding-top: 40px;
    }

    .sale .sale-ability__icon ul {
        padding-top: 50px;
    }

    .sale .sale-ability__icon i {
        font-size: 130px;
    }

    .sale .sale-ability__icon span {
        font-size: 18px;
        line-height: 21px;
        padding-top: 20px;
        width: 40%;
    }

    .sale-discount__items {
        margin-left: 0px;
        width: 300px;
        height: 510px;
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .sale-discount .row .col-md-6:nth-child(1) .sale-discount__items {
        /* margin-left: 60px; */
        margin-left: auto;
        margin-right: 40px;
    }

    .sale-discount .row .col-md-6:nth-child(2) .sale-discount__items {
        margin-left: 20px;
    }

    .sale-discount__items .discount {
        width: 100px;
        height: 100px;
    }

    .sale-discount__items .discount span {
        font-size: 35px;
        line-height: 42px;
    }

    .sale-discount__items .discount small {
        color: rgb(255 255 255);
        font-size: 20px;
        font-weight: 300;
        line-height: 23px;
    }

    .sale-discount__items h3.base {
        font-size: 50px;
        line-height: 57px;
    }

    .sale-discount__items h3.premium {
        font-size: 50px;
        line-height: 57px;
    }

    .sale-discount__items .sale__info .price {
        width: 83px;
        height: 83px;
        top: -41.5px;
    }

    .sale-discount__items .sale__info {
        margin-top: 55px;
        width: calc(100% - 50px);
        height: 330px;
    }

    .sale-discount__items .sale__info .price span {
        font-size: 18px;
        padding: 0 12px;
    }

    .sale-discount__items .sale__info .price small {
        font-size: 18px;
        padding: 0 12px;
    }

    .sale-discount__items .sale__info .price small::after {
        height: 1px;
    }

    .sale-discount__items .sale__info>span {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 40px;
        width: 65%;
    }

    .sale-discount__items .sale__info>p {
        line-height: 19px;
        font-size: 17px;
    }

    .sale-discount__items .buy__course .for__base {
        font-size: 28px;
        width: 230px;
        height: 60px;
    }

    .sale-discount__items .buy__course .for__base {
        font-size: 23px;
    }

    .sale-discount__items .buy__course .for__base:hover {
        letter-spacing: 0.5px;
        font-size: 24px;
    }

    .sale-discount__items .buy__course .for__premium {
        font-size: 28px;
        width: 230px;
        height: 60px;
    }

    .sale-discount__items .buy__course .for__premium {
        font-size: 23px;
    }

    .sale-discount__items .buy__course .for__premium:hover {
        letter-spacing: 0.5px;
        font-size: 24px;
    }

    .footer-main::after {
        width: 100%;
        height: 1.2px;
    }

    .footer-main .footer-main__contact span {
        font-size: 18px;
    }

    .footer-main .footer-main__contact small {
        font-size: 18px;
    }

    .footer-main .footer-main__contact small>small {
        display: none;
    }

    .footer-main .footer-main__contact a {
        font-size: 18px;
    }

    .footer-main .footer-main__social span {
        font-size: 18px;
        margin-right: 0px;
    }

    .footer-main .footer-main__social a {
        font-size: 19px;
    }

    .footer-copyright .footer__logo img {
        width: auto;
        height: 20px;
    }

    .footer-copyright span {
        font-size: 11px;
    }

    .footer-main {
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 50px;
    }

    .footer-copyright {
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 50px;
    }

    footer {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .more-details .more-details__media .more-details__view {
        height: 530px;
        margin-bottom: 100px;
    }.more-details .more-details__context p {
        font-size: 18px;
        line-height: 21px;
        text-indent: 15px;
        padding-top: 35px;
    }.more-details .more-details__context .more-details__title h2 {
        font-size: 35px;
        line-height: 42px;
        padding-bottom: 25px;
        width: 100%;
    }.close {
        position: relative;
        width: 45px;
        height: 45px;
    }.more-details .more-details__context .more-details__title {
        display: flex;
        justify-content: space-between;
        margin-top: 130px;
    }.close:before, .close:after {
        position: absolute;
        left: 20px;
        content: ' ';
        height: 45px;
        width: 3px;
        background-color: rgb(10 217 217);
    }
}

@media(max-width: 767px) {
    .navbar-own {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-own__logo {
        width: 157px;
        height: 25px;
        max-width: 157px;
        flex: 0 0 157px;
    }

    .navbar-own__right {
        display: none;
    }

    .navbar-own__bars {
        display: block;
        width: 25px;


    }

    .navbar-own__bars i {
        color: #0AD9D9;
        outline: none;
        font-size: 25px;
    }

    .banner-home__title h1 {
        font-size: 30px;
        line-height: 46px;
        padding-top: 60px;
    }

    .banner-home__title p {
        font-size: 30px;
        line-height: 39px;
        padding-right: 20%;
        padding-bottom: 60px;
    }

    .banner-home__title a.sale-button__effect {
        font-size: 22px;
        width: 215px;
        height: 55px;
    }

    .more::before {
        width: 370px;
        height: 350px;
        left: 0px;
    }

    .more {
        height: 400px;
    }

    .more-info__title h2 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .more-info__title h2::after {
        height: 2px;
    }

    .more-info__content p:first-of-type {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .more-info__content p {
        font-size: 15px;
        line-height: 17px;
        text-indent: 10px;
    }

    .more-info__content {
        width: 210px;
        transform: translateY(12px);
        padding-right: 0;
    }

    .more::after {
        width: 350px;
        height: 350px;
    }

    .more-info__content .more-info__details {
        font-size: 25px;
        transform: translateY(5px);
        width: 180px;
        height: 42px;
    }

    .more-info__content a.more-info__details:hover {
        letter-spacing: 0.5px;
        font-size: 26px;
    }

    .about {
        margin-top: 20px;
    }

    .about .about-info__top .about-info__title {
        display: flex;
        justify-content: center;
    }

    .about .about-info__top .about-info__title h2 {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 10px;
    }

    .about .about-info__top .about-info__title h2::after {
        width: 100%;
        height: 2px;
    }

    .about .about-info__top p {
        font-size: 15px;
        line-height: 17px;
        text-indent: 10px;
        padding-top: 10px;
        width: 100%;
    }

    .about .about-info__top .about-info__icon {
        width: 330px;
        height: 360px;
        margin: auto;
        transform: translateY(0px);
    }

    .about-info__middle .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .about .about-info__middle .about-info__title {
        display: flex;
        justify-content: center;
    }

    .about-info-content {
        width: 100%;
        display: block;
    }

    .about .about-info__middle .about-info__title h2 {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 10px;
        width: auto;
    }

    .about .about-info__middle .about-info__title h2::after {
        height: 2px;
    }

    .about .about-info__middle .about-info__title {
        display: flex;

    }

    .about .about-info__middle p {
        font-size: 15px;
        line-height: 17px;
        text-indent: 10px;
        padding-top: 10px;
        width: 100%;
    }

    .about .about-info__middle .about-info__icon {
        width: 330px;
        height: 340px;
        transform: translateX(0px);
        margin: auto;
        margin-top: 25px;
    }

    .media .media-view {
        height: 380px;
    }

    .about .about-info__bottom .about-info__title h2 {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 10px;
    }

    .about .about-info__bottom .about-info__title h2::after {
        height: 2px;
    }

    .about .about-info__bottom .about-info__title {
        display: flex;
        justify-content: center;
    }

    .about .about-info__bottom p {
        font-size: 15px;
        line-height: 17px;
        text-indent: 10px;
        padding-top: 10px;
        width: 100%;
    }

    .about .about-info__bottom .about-info__icon {
        width: 320px;
        height: 340px;
        transform: translateX(0px);
        margin: auto;
    }

    .information .info-context .info-context__title h2 {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 10px;
    }

    .information .info-context .info-context__title h2::after {
        height: 2px;
    }

    .information .info__icons ul {
        padding-top: 30px;
    }

    .information .info__icons i {
        font-size: 90px;
    }

    .information .info__icons span {
        font-size: 15px;
        line-height: 17px;
        padding-top: 15px;
        width: 125px;
    }

    .information .info__icons li {
        padding-bottom: 50px;
    }

    .information .info-textbook .info-textbook__title h2 {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 20px;
    }

    .information .info-textbook p.first__paragraph {
        font-size: 15px;
        line-height: 17px;
    }

    .information .info-textbook li>p {
        font-size: 15px;
        line-height: 17px;
    }

    .information .info-textbook span {
        font-size: 15px;
        line-height: 17px;
    }

    .information .info-textbook .marked__paragraph {
        border: 1px solid rgb(10 217 217);
        padding: 15px 15px;
        font-size: 15px;
        line-height: 17px;
    }

    .information .info-textbook p.second__paragraph {
        font-size: 15px;
        line-height: 17px;
        padding-top: 20px;
        padding-bottom: 45px;
    }

    .sale .sale-ability__title h2 {
        font-size: 30px;
        line-height: 35px;
        padding-top: 30px;
    }

    .sale .sale-ability::after {
        height: 2px;
    }

    .sale .sale-ability__icon i {
        font-size: 100px;
    }

    .sale .sale-ability__icon span {
        font-size: 15px;
        line-height: 17px;
        padding-top: 15px;
        width: 45%;
    }

    .sale .sale-ability__icon li {
        padding-bottom: 45px;
    }

    .sale-discount .row .col-md-6:nth-child(1) .sale-discount__items {
        margin-right: auto;

    }

    .sale-discount .sale-discount__items {
        width: 85%;
        margin: auto;
        height: 330px;
        padding-top: 30px;
        margin-bottom: 60px;
    }

    .sale-discount__items h3.base {
        font-size: 45px;
        line-height: 52px;
    }

    .sale-discount__items h3.premium {
        font-size: 45px;
        line-height: 52px;
    }

    .sale-discount__items .discount span {
        font-size: 30px;
        line-height: 35px;
    }

    .sale-discount__items .discount small {
        color: rgb(255 255 255);
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
    }

    .sale-discount__items .discount {
        width: 90px;
        height: 90px;
        top: -30px;
        right: -30px;
    }.sale-discount__items .sale__info .price span {
        font-size: 15px;
        padding: 0 10px;
    }.sale-discount__items .sale__info .price small {
        font-size: 15px;
        padding: 0px 10px;
    }.sale-discount__items .sale__info .price small::after {
        height: 0.5px;
    }.sale-discount__items .sale__info .price {
        width: 70px;
        height: 70px;
        top: -35px;
    }.sale-discount__items .sale__info {
        margin-top: 45px;
        width: calc(100% - 50px);
        height: 175px;
    }.sale-discount__items .sale__info>span {
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 15px;
        width: 100%;
    }.sale-discount__items .sale__info>p {
        line-height: 16px;
        font-size: 14px;
    }.sale-discount__items .buy__course .for__premium {
        font-size: 18px;
        width: 190px;
        height: 45px;
    }.sale-discount__items .buy__course .for__premium:hover {
        font-size: 19px;
        letter-spacing: 0.5px;
    }.sale-discount__items .buy__course .for__base {
        font-size: 18px;
        width: 190px;
        height: 45px;
    }.sale-discount__items .buy__course .for__base:hover {
        font-size: 19px;
        letter-spacing: 0.5px;
    }.sale-discount__items .buy__course {
        bottom: -22.5px;
    }footer {
        padding-bottom: 30px;
        padding-top: 30px;
    }.footer-main {
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 35px;
    }.footer-main .footer-main__contact span {
        font-size: 15px;
    }.footer-main .footer-main__contact a {
        font-size: 15px;
    }.footer-main .footer-main__social span {
        font-size: 15px;
        margin-right: 0px;
    }.footer-main .footer-main__social a {
        font-size: 15px;
        margin-left: 10px;
    }.footer-copyright {
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 40px;
    }.footer-copyright .footer__logo img {
        width: auto;
        height: 18px;
    }.footer-copyright span {
        font-size: 9px;
    }


    .more-details .more-details__context .more-details__title h2 {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 15px;
        width: 100%;
    }.close {
        position: relative;
        width: 40px;
        height: 40px;
    }.more-details .more-details__context .more-details__title {
        display: flex;
        justify-content: space-between;
        margin-top: 120px;
    }.close:before, .close:after {
        position: absolute;
        left: 18px;
        content: ' ';
        height: 45px;
        width: 2px;
        background-color: rgb(10 217 217);
    }.more-details .more-details__context p {
        font-size: 15px;
        line-height: 18px;
        text-indent: 15px;
        padding-top: 20px;
    }.more-details .more-details__media {
        margin-top: 50px;
    }.more-details .more-details__media .more-details__view {
        height: 380px;
        margin-bottom: 100px;
    }.sale-discount .row .col-md-6:nth-child(2) .sale-discount__items {
        margin-left: auto;
    }
}

@media(max-width: 575px){
    .banner-home__title h1 {
        font-size: 25px;
        line-height: 32px;
        padding-top: 60px;
    }.navbar-own__logo {
        width: 139px;
        height: 23px;
        max-width: 139px;
        flex: 0 0 139px;
    }.navbar-own {
        height: 50px;
    }menu {
        top: 51px;   
        width: 170px;  
    }menu.active {
        height: 160px;
    }.menu__cabinet {
        font-size: 18px;
    }.menu__about {
        font-size: 18px;
    }
    .menu__course {
        font-size: 18px;
    }menu ul {
        padding-top: 20px;
    }menu li {
        padding-right: 10px;
        padding-bottom: 20px;
    }.navbar-own__bars {
        width: 20px;
    }.menu__button span, .menu__button span:before, .menu__button span:after {
        height: 1.5px;
        width: 20px;

    }.banner-home__title p {
        font-size: 25px;
        line-height: 32px;
        padding-right: 0%;
        padding-bottom: 40px;
    }.banner-home__title a.sale-button__effect {
        font-size: 20px;
        width: 190px;
        height: 50px;
    }.banner-home__title a.sale-button__effect:hover {
        font-size: 21px;
        letter-spacing: 0.5px;
    }
    .more {
        min-height: 400px;
    }
    .more::before {
       display: none;
    }.more::after {
        width: 100%;
        height: 90%;
        border-radius: 0;
    }
    .more-info__content {
        width: 90%;
        transform: translateY(0px);
        padding-right: 0;
        margin: auto;
       
    }.media .media-view {
        height: 280px;
    }.information .info-context .info-context__title h2 {
        font-size: 25px;
        line-height: 32px;
        padding-bottom: 10px;
    }.about .about-info__top .about-info__title h2 {
        font-size: 25px;
        line-height: 32px;
        padding-bottom: 10px;
    }.more-info__title h2 {
        font-size: 25px;
        padding-bottom: 10px;
    }.about .about-info__middle .about-info__title h2 {
        font-size: 25px;
        line-height: 32px;
        padding-bottom: 10px;
        width: auto;
    }.more-info__content .more-info__details {
        font-size: 25px;
        transform: translateY(40px);
        width: 170px;
        height: 42px;
    }.information .info__icons i {
        font-size: 80px;
    }.information .info-textbook .info-textbook__title h2 {
        font-size: 25px;
        line-height: 32px;
        padding-bottom: 20px;
    }.sale .sale-ability__title h2 {
        font-size: 25px;
        line-height: 32px;
        padding-top: 30px;
    }.sale .sale-ability__icon i {
        font-size: 90px;
    }.sale .sale-ability__icon span {
        font-size: 15px;
        line-height: 17px;
        padding-top: 15px;
        width: 70%;
    }.sale-discount__items {
        border-radius: 45px;
    }.sale-discount__items .sale__info {
        border-radius: 0 0 40px 40px;
    }.footer-main {
        justify-content: center;
        flex-direction: column;
        padding-right: 0;
        padding-left: 0;
        padding-top: 30px;
        display: flex;
    }.footer-main__contact{
    padding-bottom: 20px;
    margin: auto;
    }.footer-copyright{
    flex-direction: column;
    justify-content: center;
    padding-right: 0px;
    padding-left: 0;
    padding-top: 20px;
    display: flex;
    }.footer-main .footer-main__social {
        display: flex;
        margin: auto;
    }.footer-copyright .footer__logo {
        height: 30px;
        max-width: 103px;
        margin: auto;
    }.footer-copyright span {
        font-size: 9px;
        margin: auto;
    }.sale-discount {
        padding-top: 80px;
        margin: 0 auto;
    }.more-info__content .more-info__details {
        font-size: 20px;
        transform: translateY(0);
        width: 160px;
        height: 42px;
    }.more-info__content .more-info__details {
        font-size: 20px;
        margin-top: 15px;
        width: 150px;
        height: 42px;
    }.about .about-info__top .about-info__icon {
        width: 100%;
        /* height: 400px; */
        margin: auto;
        transform: translateY(0px);
    }.about .about-info__middle .about-info__icon {
        width: 100%;
        /* height: 340px; */
        transform: translateX(0px);
        margin: auto;
        margin-top: 25px;
    }.about .about-info__middle .about-info__title h2 {
        font-size: 23px;
        line-height: 29px;
        padding-bottom: 10px;
        width: auto;
    }.about .about-info__top .about-info__title h2 {
        font-size: 23px;
        line-height: 29px;
        padding-bottom: 10px;
    }.more-info__title h2 {
        font-size: 23px;
        padding-bottom: 10px;
    }.media .media-view {
        width: auto;
        height: 270px;
    }.about .about-info__bottom .about-info__icon {
        width: auto;
        /* height: 340px; */
        transform: translateX(0px);
        margin: auto;
    }.about .about-info__bottom .about-info__title h2 {
        font-size: 23px;
        line-height: 29px;
        padding-bottom: 10px;
    }.sale .sale-ability__title h2 {
        font-size: 23px;
        line-height: 29px;
        padding-top: 30px;
    }.sale .sale-ability__icon i {
        font-size: 70px;
    }.information .info-context .info-context__title h2 {
        font-size: 23px;
        line-height: 29px;
        padding-bottom: 10px;
    }.information .info__icons i {
        font-size: 70px;
    }.information .info__icons li {
        width: 40%;
        padding-bottom: 45px;
    }.information .info__icons ul {
        display: flex;
        justify-content: space-around;
    }.more-details .more-details__context .more-details__title h2 {
        font-size: 23px;
        line-height: 29px;
        padding-bottom: 15px;
        width: 100%;
    }.more-details .more-details__context .more-details__title h2::after {
        width: 70%;
        height: 2px;
    }.close {
        position: relative;
        width: 30px;
        height: 30px;
    }.close:before, .close:after {
        left: 13px;
        height: 30px;
    }.more-details .more-details__media .more-details__view {
        height: 280px;
        margin-bottom: 100px;
        width: auto;
    }
}