* {
    
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* body start */


body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background: #00122C;
}

::-webkit-scrollbar {
    width: 13px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #0AD9D9;
    height: 45%;
}

/* body end  */

/* Button effects */



/* ---********************--- */


/*div wrapper start */

.wrapper {
    width: 100%;
    background: #00122C;
}


/* div wrapper end  */

/* ---********************--- */

/* header start */


header {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #ffffff;
}
.container{
    max-width: 1545px;
    padding-right: 35px;
    padding-left: 35px;
}


/* header end */

/* ---********************--- */

/* navbar start */


.navbar-own {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 98px;
    align-items: center;
}

.navbar-own__logo {
    width: 283px;
    height: 49px;
    max-width: 283px;
    flex: 0 0 283px;
}

.navbar-own__logo img {
    width: auto;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.navbar-own__right {
    display: flex;
    align-items: center;
}

.navbar-own__right a {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    color: #ffffff;
}

.navbar-own__right .navbar-button__effect {
    transition: all 0.3s linear 0s;
    position: relative;
    overflow: hidden;
}

.navbar-own__right .navbar-button__effect:before {
    content: "\f0a4";
    font-family: 'FontAwesome';
    font-size: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 100%;
    border-radius: 0px 0px;
    transition: all 0.1s linear 0s;
    text-align: center;
}

.navbar-own__right .navbar-button__effect:hover {
    text-indent: -50px;
}


.navbar-own__right a span {
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0em;
    color: #ffffff;
    background: #0AD9D9;
    border-radius: 50px;
    display: flex;
    width: 159px;
    height: 42px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}


/* navbar end */

/* ---********************--- */

/* section banner start*/


.banner {
    width: 100%;
    background: url('../images/background.jpg');
    height: 100vh;
    background-size: cover;
    position: relative;
    z-index: 9;

}

.banner::after {
    content: '';
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: #001739;
    mix-blend-mode: color;
    opacity: 0.7;
    z-index: 10;
}

.banner-home {
    height: 100%;
    padding-top: 98px;
}

.banner-home__top {
    display: flex;
    align-items: center;
    height: 100%;
}
.banner-home__title{
    text-shadow: 5px, 5px, 5px, #001739;
}
.banner-home__title h1 {
    font-size: 48px;
    font-weight: 900;
    color: #ffffff;
    line-height: 56px;
    padding-top: 30px;
}

.banner-home__title p {
    font-size: 48px;
    font-weight: 300;
    color: #ffffff;
    line-height: 56px;
    padding-right: 50%;
    padding-bottom: 150px;
}

.banner-home__title a.sale-button__effect {
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 357px;
    height: 97px;
    background: #0AD9D9;
    border-radius: 50px;
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.banner-home__title a.sale-button__effect:focus {
    outline: 0;
}

.banner-home__title a.sale-button__effect:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 50px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;
}

.banner-home__title a.sale-button__effect:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;
}

.banner-home__title a.sale-button__effect:hover {
    background: #06D6D6;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 42px;
}

.banner-home__title a.sale-button__effect:hover:before {
    -webkit-transform: translateX(400px) skewX(-15deg);
    transform: translateX(400px) skewX(-15deg);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.banner-home__title a.sale-button__effect:hover:after {
    -webkit-transform: translateX(400px) skewX(-15deg);
    transform: translateX(400px) skewX(-15deg);
    opacity: 1;
    transition: all 0.53s ease-in-out;
}


/* section banner end  */

/* ---********************--- */

/* section more start */


.more {
    position: relative;
    width: 100%;
    height: 1090px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.more:before {
    content: '';
    position: absolute;
    width: 44.3%;
    height: 1090px;
    background: url('../images/about-imgbox.png')no-repeat;
    background-size: contain;
    background-position: bottom center;
    left: 100px;
    bottom: 0;
    z-index: 2;
}

.more::after {
    content: '';
    position: absolute;
    width: 55.7%;
    height: 690px;
    right: 0;
    bottom: calc(50% + 18px);
    border-radius: 60px 0 0 60px;
    background-color: #00122C;
    transform: translateY(50%);
    z-index: 1;
}

.more-info {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
}

.more-info__content {
    width: 590px;
    padding: 0;
    position: relative;
    z-index: 1;
}

.more-info__title h2 {
    font-weight: 600;
    font-size: 72px;
    color: #ffffff;
    position: relative;
    line-height: 1;
    padding-bottom: 35px;
    padding-top: 50px;
}

.more-info__title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background: #0AD9D9;
    left: 0;
    border-radius: 30px;
}

.more-info__title {
    display: flex;
    justify-content: flex-start;
}

.more-info__content p {
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    color: #ffffff;
    text-indent: 30px;
}

.more-info__content p:first-of-type {
    margin-top: 40px;
    text-align: justify;
    margin-bottom: 30px;
}

.more-info__content a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 484px;
    height: 135px;
    background: #0AD9D9;
    border-radius: 100px;
    margin: 0 auto;
    transform: translateY(38px);
}

.more-info__content .more-info__details {
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 484px;
    height: 135px;
    background: #0AD9D9;
    border-radius: 100px;
    margin: 0 auto;
    transform: translateY(38px);
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.more-info__content a.more-info__details:focus {
    outline: none;
}

.more-info__content a.more-info__details:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;

}

.more-info__content a.more-info__details:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(15px);
    filter: blur(15px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;
}

.more-info__content a.more-info__details:hover {
    background: #06D6D6;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 66px;

}

.more-info__content a.more-info__details:hover:before {
    -webkit-transform: translateX(600px) skewX(-15deg);
    transform: translateX(600px) skewX(-15deg);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.more-info__content a.more-info__details:hover:after {
    -webkit-transform: translateX(600px) skewX(-15deg);
    transform: translateX(600px) skewX(-15deg);
    opacity: 1;
    transition: all 0.53s ease-in-out;
}


/* section more end */

/* ---********************--- */

/* section about start*/

.about {

    margin-top: 200px;
}

/* about-info__top */

.about .about-info__top .about-info-content {
    display: block;
    width: 615px;
}

.about .about-info__top .about-info__title {
    display: flex;
    justify-content: flex-start;
}

.about .about-info__top .about-info__title h2 {
    font-weight: 600;
    font-size: 72px;
    color: #ffffff;
    position: relative;
    line-height: 84px;
    padding-bottom: 40px;
}

.about .about-info__top .about-info__title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: calc(100% - 20%);
    height: 6px;
    left: 0;
    background: #0AD9D9;
    border-radius: 30px;
}

.about .about-info__top p {
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    color: #ffffff;
    text-indent: 20px;
}

.about .about-info__top p:first-of-type {
    margin-top: 57px;
    text-align: justify;
    margin-bottom: 30px;
}

.about .about-info__top .about-info__icon {
    width: 780px;
    height: 620px;
    margin-top: 50px;
    margin-left: auto;
}

.about .about-info__top .about-info__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* about-info__middle */

.about .about-info__middle .about-info__icon {
    width: 790px;
    height: 770px;
    margin-right: auto;
    margin-left: -50px;
   
}

.about .about-info__middle .about-info__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.about .about-info__middle .about-info-content {
    display: block;
    margin-top: 150px;
    width: 615px;
    margin-left: -50px;
}

.about .about-info__middle .about-info__title {
    display: flex;
    justify-content: flex-start;
}

.about .about-info__middle .about-info__title h2 {
    font-weight: 600;
    font-size: 72px;
    color: #ffffff;
    position: relative;
    line-height: 84px;
    padding-bottom: 40px;
}

.about .about-info__middle .about-info__title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: calc(100% - 10%);
    height: 6px;
    left: 0;
    background: #0AD9D9;
    border-radius: 30px;
}

.about .about-info__middle p {
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    color: #ffffff;
    text-indent: 25px;
}

.about .about-info__middle p:first-of-type {
    margin-top: 50px;
    text-align: justify;
    margin-bottom: 30px;
}

/* about-info__bottom */

.about .about-info__bottom .about-info-content {
    width: 615px;
    display: block;
}

.about .about-info__bottom .about-info__title {
    display: flex;
    justify-content: flex-start;
}

.about .about-info__bottom .about-info__title h2 {
    font-weight: 600;
    font-size: 72px;
    color: #ffffff;
    position: relative;
    line-height: 84px;
    padding-bottom: 40px;
}

.about .about-info__bottom .about-info__title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: calc(100% - 20%);
    height: 6px;
    left: 0;
    background: #0AD9D9;
    border-radius: 30px;
}

.about .about-info__bottom p {
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    color: #ffffff;
    text-indent: 25px;
}

.about .about-info__bottom p:first-of-type {
    margin-top: 55px;
    text-align: justify;
    margin-bottom: 30px;
    width: 615px;
}

.about .about-info__bottom .about-info__icon {
    margin-top: -70px;
    width: 650px;
    height: 600px;
 margin-left: auto;
}

.about .about-info__bottom .about-info__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


/* section about end */

/* ---********************--- */

/* section media start */

.media {
    margin-top: 180px;
}

.media .media-view {
    width: 100%;
    height: 854px;

}

.media .media-view video {
    width: 100%;
    height: 100%;
    border-radius: 60px;
    object-fit: cover;
    object-position: center;
    outline: none;
}

/* section media end */

/* ---********************--- */

/* section information start */

.information .info-context {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.information .info-context .info-context__title h2 {
    font-weight: 600;
    font-size: 72px;
    color: #ffffff;
    position: relative;
    line-height: 1;
    padding-bottom: 35px;
}

.information .info-context .info-context__title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    left: 0;
    background: #0AD9D9;
    border-radius: 30px;
}

.information .info__icons ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 180px;
    justify-content: space-between;
}

.information .info__icons li {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

.information .info__icons li:nth-child(2) {
    padding: 0 50px;
}

.information .info__icons i {
    font-size: 180px;
    color: #0AD9D9;
}

.information .info__icons span {
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 55px;
}

/* information info-textbook */

.information .info-textbook {
    margin-top: 220px;
    width: calc(100% - 15%);
}

.information .info-textbook .info-textbook__title h2 {
    font-weight: 600;
    font-size: 72px;
    color: #ffffff;
    position: relative;
    line-height: 1;
    padding-bottom: 40px;
}

.information .info-textbook p.first__paragraph {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    padding-right: 170px;
}

.information .info-textbook ul {
    padding-top: 40px;
}

.information .info-textbook li {
    border-bottom: 2px solid #0AD9D9;
    padding-top: 35px;
    padding-bottom: 12px;
    padding-right: 170px;
}

.information .info-textbook li:last-child {
    border-bottom: 0;
    padding-bottom: 50px;
}

.information .info-textbook span {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #0AD9D9;
}

.information .info-textbook li>p {
    color: #ffffff;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px
}

.information .info-textbook .marked__paragraph {
    border: 2px solid #0AD9D9;
    padding: 20px 30px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.information .info-textbook p.second__paragraph {
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    padding-top: 65px;
    padding-bottom: 90px;
}

/* section information end */

/* ---********************--- */

/* section sale start */

.sale {
    padding-bottom: 125px;
}

.sale .sale-ability {
    position: relative;
}

.sale .sale-ability::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 6px;
    left: 0;
    border-radius: 30px;
    background: #0AD9D9;
}

.sale .sale-ability__title h2 {
    font-weight: 600;
    font-size: 72px;
    color: #ffffff;
    position: relative;
    line-height: 1;
    padding-top: 100px;
}

.sale .sale-ability__icon ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 180px;
    justify-content: space-between;

}

.sale .sale-ability__icon li {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}


.sale .sale-ability__icon i {
    font-size: 180px;
    color: #0AD9D9;
}

.sale .sale-ability__icon span {
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 80px;
}

/* sale-discount */

.sale-discount {
    padding-right: 61px;
    padding-top: 145px;
}
.sale-discount .row{
    justify-content: space-between;
}

.sale-discount__items {
    width: 547px;
    height: 881px;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    border-radius: 60px;

}

.sale-discount__items .discount {
    width: 211px;
    height: 211px;
    background: #0AD9D9;
    border-radius: 50%;
    position: absolute;
    top: -61px;
    right: -61px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sale-discount__items h3.base {
    font-size: 93px;
    font-weight: 900;
    color: #001739;
    line-height: 70px;
}

.sale-discount__items h3.premium {
    font-size: 93px;
    font-weight: 900;
    color: #0AD9D9;
    line-height: 70px;
}

.sale-discount__items .sale__info {
    width: calc(100% - 102px);
    background: rgba(0, 18, 44, 0.15);
    position: relative;
    margin-top: 131px;
    height: 465px;
    border-radius: 0 0 60px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.sale-discount__items .sale__info>span {
    font-weight: 400;
    font-size: 36px;
    color: black;
    margin-bottom: 57px;
}

.sale-discount__items .sale__info>p {
    line-height: 28px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: black;
}

.sale-discount__items .sale__info .price {
    width: 143px;
    height: 143px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #001739;
    top: -71.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sale-discount__items .sale__info .price span {
    color: #0AD9D9;
    padding: 0 17px;
    font-size: 36px;
    font-weight: 900;
}

.sale-discount__items .sale__info .price small {
    position: relative;
    padding: 0 17px;
    font-size: 36px;
    font-weight: 700;
    color: white;
}

.sale-discount__items .sale__info .price small::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 2px;
    background: #0AD9D9;
}

.sale-discount__items .discount span {
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height: 1;


}

.sale-discount__items .discount small {
    color: white;
    font-size: 36px;
    font-weight: 300;
    line-height: 1;
}

.sale-discount__items .buy__course {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -55px;  
}
/* for__base button */

.sale-discount__items .buy__course .for__base {
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    display: flex;
    border-radius: 50px;
    width: 423px;
    height: 110px;
    background: #0AD9D9;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.sale-discount__items .buy__course .for__base:focus {
    outline: 0;
}

.sale-discount__items .buy__course .for__base:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 50px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;
}

.sale-discount__items .buy__course .for__base:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;
}

.sale-discount__items .buy__course .for__base:hover {
    background: #06D6D6;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 42px;
}

.sale-discount__items .buy__course .for__base:hover:before {
    -webkit-transform: translateX(400px) skewX(-15deg);
    transform: translateX(400px) skewX(-15deg);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.sale-discount__items .buy__course .for__base:hover:after {
    -webkit-transform: translateX(400px) skewX(-15deg);
    transform: translateX(400px) skewX(-15deg);
    opacity: 1;
    transition: all 0.53s ease-in-out;
}

/* for__premium button */

.sale-discount__items .buy__course .for__premium {
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    display: flex;
    border-radius: 50px;
    width: 423px;
    height: 110px;
    background: #0AD9D9;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.sale-discount__items .buy__course .for__premium:focus {
    outline: 0;
}

.sale-discount__items .buy__course .for__premium:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 50px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;
}

.sale-discount__items .buy__course .for__premium:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;
}

.sale-discount__items .buy__course .for__premium:hover {
    background: #06D6D6;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 42px;
}

.sale-discount__items .buy__course .for__premium:hover:before {
    -webkit-transform: translateX(400px) skewX(-15deg);
    transform: translateX(400px) skewX(-15deg);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.sale-discount__items .buy__course .for__premium:hover:after {
    -webkit-transform: translateX(400px) skewX(-15deg);
    transform: translateX(400px) skewX(-15deg);
    opacity: 1;
    transition: all 0.53s ease-in-out;
}

/* section sale end  */

/* ---********************--- */

/* section footer start */

footer {
    padding-bottom: 80px;
}

.footer-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    padding-left: 130px;
    padding-right: 130px;

}

.footer-main::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 6px;
    left: 0;
    border-radius: 30px;
    background: #0AD9D9;
}

.footer-main .footer-main__contact span {
    font-size: 24px;
    font-weight: 700;
    color: #0AD9D9;
}

.footer-main .footer-main__contact small {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}

.footer-main .footer-main__contact a {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}

.footer-main .footer-main__social {
    display: flex;
}

.footer-main .footer-main__social span {
    font-size: 24px;
    font-weight: 700;
    color: #0AD9D9;
    margin-right: 15px;
}

.footer-main .footer-main__social a {
    font-size: 29px;
    margin-left: 15px;
}

/* footer-copyright */

.footer-copyright .footer__logo {
    height: 27px;
    max-width: 153px;
    flex: 0 0 153px;
}

.footer-copyright .footer__logo img {
    width: auto;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


.footer-copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 130px;
    padding-right: 130px;
}

.footer-copyright span {
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
}

/*section footer end  */




/* next page more details */

.more-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.more-details .more-details__context .more-details__title {
    display: flex;
    justify-content: space-between;
    margin-top: 145px;
}

.more-details .more-details__context .more-details__title h2 {
    font-weight: 600;
    font-size: 72px;
    color: #ffffff;
    position: relative;
    line-height: 1;
    padding-bottom: 50px;
    width: 70%;
}

.more-details .more-details__context .more-details__title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 6px;
    background: #0AD9D9;
    left: 0;
    border-radius: 30px;
}

.more-details .more-details__context p {
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    color: #ffffff;
    text-indent: 30px;
    text-align: justify;
    display: flex;
    padding-top: 60px;
}

.more-details .more-details__media {
    margin-top: 130px;
}

.more-details .more-details__media .more-details__view {
    width: 1500px;
    height: 790px;
    margin-bottom: 130px;
}

.more-details .more-details__media .more-details__view video {
    width: 100%;
    height: 100%;
    border-radius: 60px;
    object-fit: cover;
    object-position: center;
    outline: none;
}

.close {
    position: relative;
    width: 55px;
    height: 55px;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 25px;
    content: ' ';
    height: 55px;
    width: 3px;
    background-color: #0AD9D9;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

/* section more-details end */