* {

    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* body start */


body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background: #00122C;
}

::-webkit-scrollbar {
    width: 13px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #0AD9D9;
    height: 65%;
}

menu {
    position: absolute;
    top: 61px;
    height: 0;
    width: 220px;
    right: 0;
    /* background: rgba(0, 23, 57, 0.8); */
    border-bottom-left-radius: 180%;
    background: #0AD9D9;
    z-index: 20;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    /* border-left: 0.3px solid rgba(155, 213, 245, 0.7); */
}


menu.active {
    height: 200px;
}

menu ul {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

menu li {
    padding-right: 15px;
    padding-bottom: 25px;
}

.menu__cabinet {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    display: block;
    position: relative;

}

/* .menu__cabinet::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background: rgba(155, 213, 245, 0.7);
    bottom: -5px;
    transition: 0.4s ease-in; 
} */


.menu__course {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.menu__about {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

/* body end  */

/* Button effects */



/* ---********************--- */


/*div wrapper start */

.wrapper {
    width: 100%;
    background: #00122C;
    overflow: hidden;
}


/* div wrapper end  */

/* ---********************--- */

/* header start */


header {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #ffffff;
}

.container {
    max-width: 1300px;
    /* padding-right: 35px;
    padding-left: 35px; */
}


/* header end */

/* ---********************--- */

/* navbar start */


.navbar-own {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 98px;
    align-items: center;
}

.navbar-own__logo {
    width: 283px;
    height: 49px;
    max-width: 283px;
    flex: 0 0 283px;
}

.navbar-own__logo img {
    width: auto;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.navbar-own__right {
    display: flex;
    align-items: center;
}

.navbar-own__right a {
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    color: #ffffff;
}

.navbar-own__right a.navbar-button__effect span {
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    color: #ffffff;
    border: 2px solid #0AD9D9;
    border-radius: 50px;
    display: flex;
    width: 142px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    position: relative;
    transition: all 0.8s ease-in-out;
    overflow: hidden;
}

.navbar-own__right a.navbar-button__effect span:focus {
    outline: 0;
}

.navbar-own__right a.navbar-button__effect span:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 40px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    -webkit-transform: translateX(-200px) skewX(-15deg);
    transform: translateX(-200px) skewX(-15deg);
    transition: all 0.8s ease-in-out;
}

.navbar-own__right a.navbar-button__effect span:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: translateX(-200px) skewX(-15deg);
    transform: translateX(-200px) skewX(-15deg);
    transition: all 0.8s ease-in-out;
}

.navbar-own__right a.navbar-button__effect span:hover {
    border: 2px solid #06D6D6;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 19px;
}

.navbar-own__right a.navbar-button__effect span:hover:before {
    -webkit-transform: translateX(200px) skewX(-15deg);
    transform: translateX(200px) skewX(-15deg);
    opacity: 1;
    transition: all 0.8s ease-in-out;
}

.navbar-own__right a.navbar-button__effect span:hover:after {
    -webkit-transform: translateX(200px) skewX(-15deg);
    transform: translateX(200px) skewX(-15deg);
    opacity: 1;
    transition: all 0.8s ease-in-out;
}


.navbar-own__right .navbar-button__cabinet span {
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0px;
    color: #ffffff;
    background: #0AD9D9;
    border-radius: 50px;
    display: flex;
    width: 170px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    position: relative;
    transition: all 0.8s ease-in-out;
    overflow: hidden;
}

.navbar-own__right .navbar-button__cabinet span:focus {
    outline: 0;
}

.navbar-own__right .navbar-button__cabinet span:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 40px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    -webkit-transform: translateX(-200px) skewX(-15deg);
    transform: translateX(-200px) skewX(-15deg);
    transition: all 0.8s ease-in-out;
}

.navbar-own__right .navbar-button__cabinet span:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 50px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: translateX(-200px) skewX(-15deg);
    transform: translateX(-200px) skewX(-15deg);
    transition: all 0.8s ease-in-out;
}

.navbar-own__right .navbar-button__cabinet span:hover {
    background: #06D6D6;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 19px;
}

.navbar-own__right .navbar-button__cabinet span:hover:before {
    -webkit-transform: translateX(200px) skewX(-15deg);
    transform: translateX(200px) skewX(-15deg);
    opacity: 1;
    transition: all 0.8s ease-in-out;
}

.navbar-own__right .navbar-button__cabinet span:hover:after {
    -webkit-transform: translateX(200px) skewX(-15deg);
    transform: translateX(200px) skewX(-15deg);
    opacity: 1;
    transition: all 0.8s ease-in-out;
}

.navbar-own__bars {
    display: none;
}

.menu__button {
    position: absolute;
}

.menu__button {
    cursor: pointer;
    padding: 0px;
}

.menu__button span,
.menu__button span:before,
.menu__button span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 25px;
    background: #0AD9D9;
    position: absolute;
    display: block;
    content: '';
}

.menu__button span:before {
    top: 7px;
}

.menu__button span:after {
    bottom: 7px;
}

.menu__button span,
.menu__button span:before,
.menu__button span:after {
    transition: all 200ms ease-in-out;
}

.menu__button.active span {
    background-color: transparent;
}

.menu__button.active span:before,
.menu__button.active span:after {
    top: 0;
}

.menu__button.active span:before {
    transform: rotate(45deg);
    
}

.menu__button.active span:after {
    transform: rotate(-45deg);
   
}


/* navbar end */

/* ---********************--- */

/* section banner start*/


.banner {
    width: 100%;
    background: url('../images/background.jpg');
    height: 100vh;
    min-height: 625px;
    background-size: cover;
    position: relative;
    z-index: 9;

}

.banner::after {
    content: '';
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: #001739;
    mix-blend-mode: color;
    opacity: 0.7;
    z-index: 10;
}

.banner-home {
    height: 100%;
    padding-top: 98px;
}

.banner-home__top {
    display: flex;
    align-items: center;
    height: 100%;
}

.banner-home__title {
    text-shadow: 5px, 5px, 5px, #001739;
}

.banner-home__title h1 {
    font-size: 48px;
    font-weight: 900;
    color: #ffffff;
    line-height: 56px;
    padding-top: 30px;
}

.banner-home__title p {
    font-size: 48px;
    font-weight: 300;
    color: #ffffff;
    line-height: 56px;
    padding-right: 50%;
    padding-bottom: 150px;
}

.banner-home__title a.sale-button__effect {
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 357px;
    height: 97px;
    background: #0AD9D9;
    border-radius: 50px;
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.banner-home__title a.sale-button__effect:focus {
    outline: 0;
}

.banner-home__title a.sale-button__effect:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 50px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;
}

.banner-home__title a.sale-button__effect:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;
}

.banner-home__title a.sale-button__effect:hover {
    background: #06D6D6;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 42px;
}

.banner-home__title a.sale-button__effect:hover:before {
    -webkit-transform: translateX(400px) skewX(-15deg);
    transform: translateX(400px) skewX(-15deg);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.banner-home__title a.sale-button__effect:hover:after {
    -webkit-transform: translateX(400px) skewX(-15deg);
    transform: translateX(400px) skewX(-15deg);
    opacity: 1;
    transition: all 0.53s ease-in-out;
}


/* section banner end  */

/* ---********************--- */

/* section more start */


.more {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    height: 975px;
}

.more::after {
    content: "";
    position: absolute;
    right: 0;
    background-color: #00122C;
    width: 1055px;
    height: 690px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.more::before {
    content: "";
    background-image: url(../images/about-imgbox.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 845px;
    height: 905px;
    position: absolute;
    bottom: 0;
    left: 262px;
    z-index: 500;
}

.more .more-pictures {
    bottom: 0;
    width: auto;
    display: flex;
    position: absolute;
    z-index: 2;
    width: 845px;
    height: 904px;
}

.more .more-pictures img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.more-info__content {
    width: 515px;
    padding: 0;
    position: relative;
    z-index: 600;
    transform: translateY(-66px);
}

.more-info__title h2 {
    font-weight: 900;
    font-size: 64px;
    color: #ffffff;
    position: relative;
    line-height: 1;
    padding-bottom: 17px;
    padding-top: 60px;
}

.more-info__title {
    display: flex;
}

.more-info__title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background: #0AD9D9;
    left: 0;
    border-radius: 30px;
}

.more-info__content p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    text-indent: 30px;
    text-align: justify;
}

.more-info__content p:first-of-type {
    padding-top: 50px;
    text-align: justify;
    padding-bottom: 40px;
}

.more-info__content .more-info__details {
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 94px;
    background: #0AD9D9;
    border-radius: 100px;
    margin: 0 auto;
    transform: translateY(170px);
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.more-info__content a.more-info__details:focus {
    outline: none;
}

.more-info__content a.more-info__details:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;

}

.more-info__content a.more-info__details:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(15px);
    filter: blur(15px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;
}

.more-info__content a.more-info__details:hover {
    background: #06D6D6;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 50px;
}

.more-info__content a.more-info__details:hover:before {
    -webkit-transform: translateX(600px) skewX(-15deg);
    transform: translateX(600px) skewX(-15deg);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.more-info__content a.more-info__details:hover:after {
    -webkit-transform: translateX(600px) skewX(-15deg);
    transform: translateX(600px) skewX(-15deg);
    opacity: 1;
    transition: all 0.53s ease-in-out;
}


/* section more end */

/* ---********************--- */

/* section about start*/

.about {
    margin-top: 250px;
}

/* about-info__top */

.about .about-info__top .about-info-content {
    display: block;
    width: 100%;
}

.about .about-info__top .about-info__title {
    display: flex;
    justify-content: flex-start;
}

.about .about-info__top .about-info__title h2 {
    font-weight: 600;
    font-size: 64px;
    color: #ffffff;
    position: relative;
    line-height: 75px;
    padding-bottom: 40px;
}

.about .about-info__top .about-info__title {
    display: flex;
}

.about .about-info__top .about-info__title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: calc(100% - 20%);
    height: 6px;
    left: 0;
    background: #0AD9D9;
    border-radius: 30px;
}

.about .about-info__top p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    text-align: justify;
    text-indent: 20px;
    padding-top: 40px;
}



.about .about-info__top .about-info__icon {
    width: 770px;
    height: 550px;
    transform: translateY(-150px);
}

.about .about-info__top .about-info__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* about-info__middle */

.about .about-info__middle .about-info__icon {
    width: 770px;
    height: 550px;
    transform: translateX(-70px);
}

.about .about-info__middle .about-info__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.about .about-info__middle .about-info__title {
    display: flex;
}

.about .about-info__middle .about-info__title h2 {
    font-weight: 600;
    font-size: 64px;
    color: #ffffff;
    position: relative;
    line-height: 75px;
    padding-bottom: 40px;
    width: calc(100% - 10%);
}

.about .about-info__middle .about-info__title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    left: 0;
    background: #0AD9D9;
    border-radius: 30px;
}

.about .about-info__middle p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    text-indent: 20px;
    text-align: justify;
    padding-top: 40px;
}

/* about-info__bottom */

.about .about-info__bottom .about-info-content {
    width: 100%;
    display: block;
}

.about .about-info__bottom .about-info__title {
    display: flex;
    justify-content: flex-start;
}

.about .about-info__bottom .about-info__title h2 {
    font-weight: 600;
    font-size: 64px;
    color: #ffffff;
    position: relative;
    line-height: 75px;
    padding-bottom: 40px;
}

.about .about-info__bottom .about-info__title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    left: 0;
    background: #0AD9D9;
    border-radius: 30px;
}

.about .about-info__bottom p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    text-indent: 20px;
    text-align: justify;
    padding-top: 40px;

}


.about .about-info__bottom .about-info__icon {
    margin-top: -60px;
    width: 640px;
    height: 595px;
    transform: translateX(50px);
}

.about .about-info__bottom .about-info__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


/* section about end */

/* ---********************--- */

/* section media start */

.media {
    margin-top: 170px;
}

.media .media-view {
    width: 100%;
    height: 680px;
}

.media .media-view video {
    width: 100%;
    height: 100%;
    border-radius: 60px;
    object-fit: cover;
    object-position: center;
    outline: none;
}

/* section media end */

/* ---********************--- */

/* section information start */

.information .info-context {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.information .info-context .info-context__title h2 {
    font-weight: 600;
    font-size: 64px;
    color: #ffffff;
    position: relative;
    line-height: 75px;
    padding-bottom: 40px;
}

.information .info-context .info-context__title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    left: 0;
    background: #0AD9D9;
    border-radius: 30px;
}

.information .info__icons ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 170px;
    justify-content: space-between;
}

.information .info__icons li {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: center;
}

/* .information .info__icons li:nth-child(2) {
    padding: 0 50px;
} */

.information .info__icons i {
    font-size: 170px;
    color: #0AD9D9;
}

.information .info__icons span {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 50px;
}

/* information info-textbook */

.information .info-textbook {
    margin-top: 165px;
}

.information .info-textbook .info-textbook__title h2 {
    font-weight: 600;
    font-size: 64px;
    color: #ffffff;
    position: relative;
    line-height: 75px;
    padding-bottom: 40px;
}

.information .info-textbook p.first__paragraph {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.information .info-textbook ul {
    padding-top: 20px;
}

.information .info-textbook li {
    border-bottom: 2px solid #0AD9D9;
    padding-top: 20px;
    padding-bottom: 12px;
}

.information .info-textbook li:last-child {
    border-bottom: 0;
    padding-bottom: 70px;
}

.information .info-textbook span {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0AD9D9;
}

.information .info-textbook li>p {
    color: #ffffff;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px
}

.information .info-textbook .marked__paragraph {
    border: 2px solid #0AD9D9;
    padding: 30px 30px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.information .info-textbook p.second__paragraph {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 90px;
}

/* section information end */

/* ---********************--- */

/* section sale start */


.sale .sale-ability {
    position: relative;
}

.sale .sale-ability::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 6px;
    left: 0;
    border-radius: 30px;
    background: #0AD9D9;
}

.sale .sale-ability__title h2 {
    font-weight: 600;
    font-size: 64px;
    color: #ffffff;
    position: relative;
    line-height: 75px;
    padding-top: 160px;
}

.sale .sale-ability__icon ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
    justify-content: space-between;

}

.sale .sale-ability__icon li {
    display: flex;
    flex-direction: column;
    width: 230px;
    align-items: center;
}


.sale .sale-ability__icon i {
    font-size: 180px;
    color: #0AD9D9;
}

.sale .sale-ability__icon span {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 45px;
}

/* sale-discount */

.sale-discount {
    padding-top: 200px;
    margin: 0 auto;
}

.sale-discount__items {
    width: 432px;
    height: 696px;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 115px;
    border-radius: 60px;
    margin: 0;
    margin-bottom: 130px;
    margin-left: 85px;

}

.sale-discount__items .discount {
    width: 166px;
    height: 166px;
    background: #0AD9D9;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    right: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sale-discount__items h3.base {
    font-size: 72px;
    font-weight: 900;
    color: #001739;
    line-height: 84px;
}

.sale-discount__items h3.premium {
    font-size: 72px;
    font-weight: 900;
    color: #0AD9D9;
    line-height: 84px;
}

.sale-discount__items .sale__info {
    width: calc(100% - 80px);
    background: rgba(0, 18, 44, 0.15);
    position: relative;
    margin-top: 105px;
    height: 368px;
    border-radius: 0 0 60px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.sale-discount__items .sale__info>span {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: black;
    margin-bottom: 57px;
    width: 65%;
}

.sale-discount__items .sale__info>p {
    line-height: 22px;
    font-size: 19px;
    font-weight: 400;
    color: black;
}

.sale-discount__items .sale__info .price {
    width: 113px;
    height: 113px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #001739;
    top: -56.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sale-discount__items .sale__info .price span {
    color: #0AD9D9;
    padding: 0 17px;
    font-size: 24px;
    font-weight: 900;
}

.sale-discount__items .sale__info .price small {
    position: relative;
    padding: 0 17px;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.sale-discount__items .sale__info .price small::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 2px;
    background: #0AD9D9;
}

.sale-discount__items .discount span {
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;


}

.sale-discount__items .discount small {
    color: white;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
}

.sale-discount__items .buy__course {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -72px;

}

/* for__base button */

.sale-discount__items .buy__course .for__base {
    color: #ffffff;
    font-size: 35px;
    font-weight: 400;
    display: flex;
    border-radius: 50px;
    width: 334px;
    height: 86px;
    background: #0AD9D9;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

}

.sale-discount__items .buy__course .for__base:focus {
    outline: 0;
}

.sale-discount__items .buy__course .for__base:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 50px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;
}

.sale-discount__items .buy__course .for__base:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;
}

.sale-discount__items .buy__course .for__base:hover {
    background: #06D6D6;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 42px;
}

.sale-discount__items .buy__course .for__base:hover:before {
    -webkit-transform: translateX(400px) skewX(-15deg);
    transform: translateX(400px) skewX(-15deg);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.sale-discount__items .buy__course .for__base:hover:after {
    -webkit-transform: translateX(400px) skewX(-15deg);
    transform: translateX(400px) skewX(-15deg);
    opacity: 1;
    transition: all 0.53s ease-in-out;
}

/* for__premium button */

.sale-discount__items .buy__course .for__premium {
    color: #ffffff;
    font-size: 35px;
    font-weight: 400;
    display: flex;
    border-radius: 50px;
    width: 334px;
    height: 86px;
    background: #0AD9D9;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.sale-discount__items .buy__course .for__premium:focus {
    outline: 0;
}

.sale-discount__items .buy__course .for__premium:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 50px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;
}

.sale-discount__items .buy__course .for__premium:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 1;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: translateX(-100px) skewX(-15deg);
    transform: translateX(-100px) skewX(-15deg);
    transition: all 0.3s ease-in-out;
}

.sale-discount__items .buy__course .for__premium:hover {
    background: #06D6D6;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 42px;
}

.sale-discount__items .buy__course .for__premium:hover:before {
    -webkit-transform: translateX(400px) skewX(-15deg);
    transform: translateX(400px) skewX(-15deg);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.sale-discount__items .buy__course .for__premium:hover:after {
    -webkit-transform: translateX(400px) skewX(-15deg);
    transform: translateX(400px) skewX(-15deg);
    opacity: 1;
    transition: all 0.53s ease-in-out;
}

/* section sale end  */

/* ---********************--- */

/* section footer start */

footer {
    padding-bottom: 75px;
    padding-top: 130px;
}

.footer-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 65px;

}

.footer-main::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 115%;
    height: 2px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 30px;
    background: #0AD9D9;
}

.footer-main .footer-main__contact span {
    font-size: 24px;
    font-weight: 700;
    color: #0AD9D9;
}

.footer-main .footer-main__contact small {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}

.footer-main .footer-main__contact a {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}

.footer-main .footer-main__social {
    display: flex;
}

.footer-main .footer-main__social span {
    font-size: 24px;
    font-weight: 700;
    color: #0AD9D9;
    margin-right: 15px;
}

.footer-main .footer-main__social a {
    font-size: 29px;
    margin-left: 15px;
}

/* footer-copyright */

.footer-copyright .footer__logo {
    height: 30px;
    max-width: 161px;

}

.footer-copyright .footer__logo img {
    width: auto;
    height: 30px;
    object-fit: contain;
    object-position: center;
}


.footer-copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.footer-copyright span {
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
}

/*section footer end  */




/* next page more details */

.more-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.more-details .more-details__context .more-details__title {
    display: flex;
    justify-content: space-between;
    margin-top: 145px;
}

.more-details .more-details__context .more-details__title h2 {
    font-weight: 600;
    font-size: 64px;
    color: #ffffff;
    position: relative;
    line-height: 1;
    padding-bottom: 40px;
    width: 70%;
}

.more-details .more-details__context .more-details__title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 6px;
    background: #0AD9D9;
    left: 0;
    border-radius: 30px;
}

.more-details .more-details__context p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    text-indent: 25px;
    text-align: justify;
    display: flex;
    padding-top: 60px;
}

.more-details .more-details__media {
    margin-top: 130px;
}

.more-details .more-details__media .more-details__view {
    width: 100%;
    height: 680px;
    margin-bottom: 130px;
}

.more-details .more-details__media .more-details__view video {
    width: 100%;
    height: 100%;
    border-radius: 60px;
    object-fit: cover;
    object-position: center;
    outline: none;
}

.close {
    position: relative;
    width: 55px;
    height: 55px;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 25px;
    content: ' ';
    height: 55px;
    width: 3px;
    background-color: #0AD9D9;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

/* section more-details end */



